@import '../../sass/variables.sass'

.intro-title
  display: flex
  flex-direction: column
  justify-content: space-between
  width: fit-content
  height: 100%
  margin: 0 auto

  @media (min-width: $screen-xxl)
    display: block
    width: 100%
    margin: 0

  &__logo
    display: block
    width: 76%
    margin: 0 12%
    height: auto

    @media (min-width: $screen-xxl)
      width: 100%
      margin: 0 0 1.875rem

  &__text
    font:
      size: 1rem

    text:
      align: center

    @media (min-width: $screen-xxl)
      font:
        size: 1.125rem

      margin: 0 0 2.5rem

  &__link
    margin: 0 auto
