.intro-title
  display: flex
  flex-direction: column
  justify-content: space-between
  width: fit-content
  height: 100%
  margin: 0 auto 2.1875rem

  &__logo
    display: block
    width: 80%
    margin: 0 10%
    height: auto

  &__text
    font:
      size: 1.5rem

    text:
      align: center

  &__link
    margin: 0 auto
