.intro-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 1366px) {
  .intro-title {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.intro-title__logo {
  display: block;
  width: 76%;
  margin: 0 12%;
  height: auto;
}

@media (min-width: 1366px) {
  .intro-title__logo {
    width: 100%;
    margin: 0 0 1.875rem;
  }
}

.intro-title__text {
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 1366px) {
  .intro-title__text {
    font-size: 1.125rem;
    margin: 0 0 2.5rem;
  }
}

.intro-title__link {
  margin: 0 auto;
}
