.intro-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}

.intro-title__logo {
  display: block;
  width: 76%;
  margin: 0 12%;
  height: auto;
}

.intro-title__text {
  font-size: 1rem;
  text-align: center;
}

.intro-title__link {
  margin: 0 auto;
}
