@import '../../sass/variables.sass'

.history
  padding-top: 3.75rem
  padding-bottom: 3.75rem

  background:
    image: url(../blocks/history/history.png)
    size: cover

  &__title
    width: 78%
    margin: 0 auto 1.875rem

    @media (min-width: $screen-md)
      width: 87%

  &__link
    margin: 0 auto
