.history {
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

@media (min-width: 768px) {
  .history {
    padding: 6.25rem 0;
  }
}

@media (min-width: 1366px) {
  .history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 27.0625rem;
    padding: 7.25rem 0;
  }
}

.history__bg-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.history__bg-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.history__title {
  width: 78%;
  margin: 0 auto 1.875rem;
}

@media (min-width: 768px) {
  .history__title {
    width: 87%;
    line-height: 2.5rem;
  }
}

@media (min-width: 1366px) {
  .history__title {
    width: 50rem;
  }
}

.history__link {
  margin: 0 auto;
}
