@media (min-width: 1366px) {
  .watched {
    padding-bottom: 2rem;
  }
}

.watched__title {
  width: 70%;
  margin: 0 auto 2rem;
}

.watched__sub-carousel {
  margin: 0 auto 1.6875rem;
}

.watched__carousel-controls {
  margin-right: calc(4.6875% - 0.25rem);
  margin-left: calc(4.6875% - 0.25rem);
}

@media (min-width: 1366px) {
  .watched__carousel-controls {
    margin-right: calc(7.174% - 0.25rem);
    margin-left: calc(7.174% - 0.25rem);
  }
}
