.audio
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px
  margin:
    bottom: 8px

  border: 
    radius: 20px
  background: $main-disabled-color

  &__play-btn
    display: inline-flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px

    border: 2px solid $main-dark-color
      radius: 12px
    cursor: pointer

    transition: color 0.2s, background 0.2s

    &:hover
      color: $main-white-color

      background: $main-dark-color

  &__del-btn
    display: inline-flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    padding: 0

    border: 2px solid $main-dark-color
      radius: 12px
    cursor: pointer

    transition: color 0.2s, background 0.2s

    &:hover
      color: $main-white-color

      background: $main-dark-color

  &__download-btn
    display: inline-flex
    justify-content: center
    align-items: center
    width: 40px
    height: 40px
    padding: 0

    color: $main-dark-color

    border: 2px solid $main-dark-color
      radius: 12px
    background: $main-white-color
    cursor: pointer

    transition: color 0.2s, background 0.2s

    &:hover
      color: $main-white-color

      background: $main-dark-color

  &__seek-input
    position: relative

    -webkit-appearance: none
    width: 80px

    background: transparent

  &__volume-input
    position: relative

    -webkit-appearance: none
    width: 40px

    background: transparent

  &__cur-time
    display: inline-block
    width: 40px

    text-align: end

  &__dur-time
    display: inline-block
    width: 40px

    text-align: start

  &__volume-level
    display: inline-block
    width: 27px

    text-align: end

.audio__seek-input::-webkit-slider-runnable-track
  -webkit-appearance: none
  width: 100%
  height: 6px

  border:
    radius: 3px
  background: $main-med-color
  cursor: pointer

.audio__seek-input::before 
  position: absolute
  top: 0
  left: 0
  content: ""

  width: var(--seek-before-width)
  height: 6px

  border:
    radius: 3px
  background-color: $main-dark-color
  cursor: pointer

.audio__seek-input::-webkit-slider-thumb 
  position: relative
  
  -webkit-appearance: none
  height: 12px
  width: 12px
  margin: -2.5px 0 0 0
  box-sizing: border-box
  
  border: 1.5px solid $main-dark-color
    radius: 4px
  background-color: $main-white-color
  cursor: pointer

.audio__volume-input::-webkit-slider-runnable-track
  -webkit-appearance: none
  width: 100%
  height: 6px

  border:
    radius: 3px
  background: $main-med-color
  cursor: pointer

.audio__volume-input::before 
  position: absolute
  top: 0
  left: 0

  content: ""
  width: var(--volume-before-width)
  height: 6px

  border:
    radius: 3px
  background-color: $main-dark-color
  cursor: pointer

.audio__volume-input::-webkit-slider-thumb 
  position: relative

  -webkit-appearance: none
  height: 12px
  width: 12px
  margin: -2.5px 0 0 0
  box-sizing: border-box

  border: 1.5px solid $main-dark-color
    radius: 4px
  background-color: $main-white-color
  cursor: pointer