@import '../../sass/variables.sass'

.btn
  display: block
  width: fit-content
  //min-width: 132px
  //height: 40px
  padding: 0.6rem 1.75rem

  font:
    family: "M PLUS 1p"
    weight: 500

  color: $main-color

  text:
    align: center
    decoration: none

  border: 1px solid $link-border
    radius: 2px

  background: transparent
  cursor: pointer

  transition: background 0.25s

  &:hover
    background:
      color: $sub-bg-color

  &--small-side-pads
    padding-left: 1.25rem
    padding-right: 1.25rem

    @media (min-width: $screen-md)
      padding-left: 1.75rem
      padding-right: 1.75rem
