@import '../../sass/variables.sass'

.btn
  display: block
  width: fit-content
  //min-width: 132px
  //height: 40px
  padding: 0.6rem 1.75rem

  font:
    family: "M PLUS 1p"
    weight: 500

  color: $main-color

  text:
    align: center
    decoration: none

  border: 1px solid $link-border
    radius: 2px

  background: transparent
