@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.task
  display: flex
  justify-content: space-between
  width: 100%
  height: 50px

  font:
    size: 36px

  background: 
    color: red

  &__id
    display: inline-block
    width: 30%
    height: 100%

    overflow: hidden

  &__name
    display: inline-block
    height: 100%

  &__btn
    display: inline-block
    height: 100%

    font:
      size: 24px
