@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.task
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  max-width: 100%
  height: 60px
  padding: 10px

  font:
    size: 24px
  color: $dark-blue

  //border: 5px solid $main-blue
  border-radius: 20px

  &--waiting
    background: $task-waiting

  &--processing
    background: $task-processing

  &--done
    background: $task-done

  &__id
    display: inline-block
    width: 30%
    height: 100%

    overflow: hidden

  &__name
    display: inline-block
    height: 36px
    padding: 0 4px
    margin-right: auto
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    line-height: 28px

    border: 4px solid white
    border-radius: 12px
    background: $light-grey
    background: white

  &__btn-wrapper
    min-width: max-content
    margin-left: 8px

  &__btn
    display: inline-block
    //height: 100%
    padding: 4px
    width: 36px
    height: 36px
    margin-right: 2px

    font:
      size: 0
    line-height: 0

    border: 2px solid $dark-blue
      radius: 12px
    background: white
    cursor: pointer

    &:last-of-type
      margin-right: 0

    &:hover
      transform: scale(1.1, 1.1)



  &__btn-svg
    width: 24px
    height: 24px

    fill: $dark-blue

    pointer-events: none