@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.task
  display: flex
  justify-content: space-between
  width: 100%
  max-width: 100%
  height: 60px
  padding: 5px

  font:
    size: 32px

  border: 5px solid black
    radius: 20px

  background: 
    color: red

  &__id
    display: inline-block
    width: 30%
    height: 100%

    overflow: hidden

  &__name
    display: inline-block
    height: 100%
    margin-right: auto
    overflow: hidden

  &__btn
    display: inline-block
    //height: 100%
    padding: 4px
    width: 32px
    height: 32px
    margin-left: 2px

    font:
      size: 0
    line-height: 0

    border: none

  &__btn-svg
    width: 24px
    height: 24px

    pointer-events: none