* {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --bg-color-20: #b9b9b9;
  --title-color: #ffffff;
  --section-title-color: #ffffff;
  --project--bg-color: #ffffff;

  --grid-item-size: 90px;
  --section-width: 70%;

  --small-text: 1rem;
  --medium-text: 1.5rem;
  --big-text: 2rem;

  /*--header-color: #ff9500;*/
  --theme-color: #ff7f50;
  --nav-link-text: #000000;
  --nav-link-text-hover: #ffffff;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-bottom: 3rem;

  background-color: var(--theme-color);
}

.header__title {
  font-size: 2rem;
}

.timers-wrapper {
  width: 90%;
  margin: 0 auto;
}

.timer {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  padding: 0 0 0 2rem;
  margin: 0 auto 2rem;
  overflow: hidden;

  border: 5px solid var(--theme-color);
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .timer {
    overflow: scroll;
  }
}

.timer__circle {
  position: relative;

  min-width: 250px;
  min-height: 250px;
  overflow: hidden;

  /*background-color: var(--theme-color);*/
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .timer__circle {
    min-width: 100px;
    min-height: 100px;
  }
}

.timer__circle-segment {
  position: absolute;
  top: 0;
  left: 50%;

  width: 125px;
  height: 125px;

  background-color: white;
}

.timer__text-wrapper {
  display: flex;
  /*flex-direction: column;*/
  width: 65%;
  height: 70%;
}

.timer__percent {
  align-self: flex-end;
  width: 50%;

  font-size: 8rem;
  font-weight: bold;

  background-color: rgba(0, 255, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .timer__percent {
    font-size: 5rem;
  }
}

.timer__settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 1rem;

  background-color: #b9b9b9;
}

@media screen and (max-width: 768px) {
  .add-form {
    flex-direction: column;
  }
}

.timer__settings-btn {
}

.btn {
  padding: 1rem;

  font-size: 1.5rem;

  cursor: pointer;
}

.timer__add-timer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  padding: 0;

  font-size: 10rem;
  color: var(--theme-color);

  background: transparent;
  border: 3px solid var(--theme-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px 0 grey;
}

.timer__add-timer-btn:hover {
  box-shadow: 0 0 10px 0px grey;
}

.timer__text {
  font-size: 3rem;

  background-color: rgba(0, 255, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .timer__text {
    font-size: 2rem;
  }
}

.timer__text--remaining {
  font-size: 2rem;
}

.add-form {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;

  background-color: #b9b9b9;
}

.add-form__fieldset {
  /*display: flex;*/
  flex-direction: column;
  padding: 5px;

  border: 1px solid black;
}

.add-form__input-time {
  padding: 1rem;

  font-size: 1.5rem;
}

.add-form__input-amount {
  width: 90px;
  padding: 1rem;

  font-size: 1.5rem;
}

.add-form__label--hidden {
  display: none;
}

.add-form__input-amount--hidden {
  display: none;
}

label {
  display: inline-block;
  width: fit-content;
}
