@import '../../sass/variables.sass'

.filter
  box-sizing: border-box
  position: absolute
  top: 6.625rem
  z-index: 2

  max-height: 0
  overflow-y: hidden
  width: 100%

  background:
    color: $main-bg-color
  transition: max-height 2s

  @media (min-width: $screen-xxl)
    top: 8.625rem

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 0.2rem
    margin: 0.2rem 0.7375rem 2rem

    @media (min-width: $screen-md)
      padding-left: 0
      margin: 0.2rem 0 2rem
      margin-left: 4.6875%
      margin-right: calc(4.6875% - 0.25rem)

    @media (min-width: $screen-xxl)
      margin-left: 7.174%
      margin-right: calc(7.174% - 0.25rem)

  &__toggle-btn
    padding: 0.2rem

    font:
      size: 0

    background: transparent
    border: none

  &__content
    width: calc(100vw - 4.375rem)
    margin: 0 auto

    @media (min-width: $screen-md)
      width: auto
      margin: 0 4.6875%

    @media (min-width: $screen-xxl)
      padding-bottom: 7.5rem
      margin: 0 7.174%

  &__accordion-btn

    @media (min-width: $screen-md)
      display: none

  &__fieldset

    //margin: 0 auto 2.5rem
    max-height: 0

    overflow-y: hidden

    transition: max-height 1s
    transition: max-height 2s, padding 1s

    @media (min-width: $screen-md)
      display: inline-block
      max-height: 100vh
      margin-right: 7.8125vw
      vertical-align: top

    &--opened
      max-height: 100vh
      padding: 1.375rem 0 2.5rem

    &:last-of-type
      padding-bottom: 0

      @media (min-width: $screen-md)
        margin-right: 0

  &__fieldset-title
    display: none

    @media (min-width: $screen-md)
      display: block
      margin-bottom: 2rem

      font:
        size: 1.125rem
        weight: 500

  &__input-wrapper
    margin: 0 0 1.375rem

    &:last-of-type
      margin: 0

  &__label
    display: block

    &:last-of-type
      margin: 0

    &::before
      content: ""
      display: inline-block
      width: 0.75rem
      height: 0.75rem
      margin-right: 0.5rem
      background: transparent
      border: 1px solid $filter-checkbox-border-color
      border-radius: 50%

  &__input-checkbox
    display: none

    &:checked + .filter__label::before
      content: ""
      display: inline-block
      width: 0.75rem
      height: 0.75rem
      margin-right: 0.5rem
      background: $main-color
      border-radius: 50%
      box-shadow: inset 0 0 0 1px $main-bg-color

  &__btn-block
    display: flex
    justify-content: space-between
    align-items: center
    margin: 3.125rem 0 5.5rem

    @media (min-width: $screen-md)
      width: 18.875rem
      margin: 3.125rem auto 7.5rem

    @media (min-width: $screen-xxl)
      position: absolute
      top: 18.5rem

      margin: 0

  &--showed
    max-height: 250vh
