.filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 6.625rem;
  z-index: 2;
  max-height: 0;
  overflow-y: hidden;
  width: 100%;
  background-color: #f8f8f6;
  -webkit-transition: max-height 2s;
  transition: max-height 2s;
}

.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.2rem;
  margin: 0.2rem 0.7375rem 2rem;
}

@media (min-width: 768px) {
  .filter__header {
    padding-left: 0;
    margin: 0.2rem 0 2rem;
    margin-left: 4.6875%;
    margin-right: calc(4.6875% - 0.25rem);
  }
}

.filter__toggle-btn {
  padding: 0.2rem;
  font-size: 0;
  background: transparent;
  border: none;
}

.filter__content {
  width: calc(100vw - 4.375rem);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .filter__accordion-btn {
    display: none;
  }
}

.filter__fieldset {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  -webkit-transition: max-height 2s, padding 1s;
  transition: max-height 2s, padding 1s;
}

@media (min-width: 768px) {
  .filter__fieldset {
    display: inline-block;
    max-height: 100vh;
    margin-right: 7.8125vw;
    vertical-align: top;
  }
}

.filter__fieldset--opened {
  max-height: 100vh;
  padding: 1.375rem 0 2.5rem;
}

.filter__fieldset:last-of-type {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .filter__fieldset:last-of-type {
    margin-right: 0;
  }
}

.filter__fieldset-title {
  display: none;
}

@media (min-width: 768px) {
  .filter__fieldset-title {
    display: block;
    margin-bottom: 2rem;
    font-size: 1.125rem;
    font-weight: 500;
  }
}

.filter__input-wrapper {
  margin: 0 0 1.375rem;
}

.filter__input-wrapper:last-of-type {
  margin: 0;
}

.filter__label {
  display: block;
}

.filter__label:last-of-type {
  margin: 0;
}

.filter__label::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background: transparent;
  border: 1px solid #cdcdc0;
  border-radius: 50%;
}

.filter__input-checkbox {
  display: none;
}

.filter__input-checkbox:checked + .filter__label::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background: #122947;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #f8f8f6;
          box-shadow: inset 0 0 0 1px #f8f8f6;
}

.filter__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.125rem 0 5.5rem;
}

@media (min-width: 768px) {
  .filter__btn-block {
    width: 18.875rem;
    margin: 3.125rem auto 7.5rem;
  }
}

.filter--showed {
  max-height: 250vh;
}
