.keyboard-cont
  position: relative

  &--double-rows
    width: fit-content
    height: 624px

  &--single-row
    width: fit-content

  &__item
    display: inline-block
    width: fit-content
    
    &--left-double
      float: left

      margin:
        right: 80px

    &--left-single
      margin:
        right: 0

    &--right-double
      float: right

    &--right-single
      float: right

    &--full-double
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)

      width: max-content

    &--full-single
      margin: 0
