.menu

  &__btn
    width: 150px
    height: 40px
    padding: 4px

    font:
      size: 1.5em
    color: white
    text:
      align: center

    border: 2px solid white
      radius: 8px
    background: transparent
    cursor: pointer

    transition: color 0.2s, background-color 0.2s

    &:hover
      border: 2px solid grey
      background: grey

    &--toggled
      background: white
      color: black