.menu
  position: absolute
  top: 12px
  left: 12px

  &__btn
    width: 150px
    height: 40px
    padding: 4px

    font:
      size: 1.5em
    color: white
    text:
      align: center

    border: 2px solid white
      radius: 8px
    background: transparent

    &:hover
      border: 2px solid grey
      background: grey

    &--toggled
      background: white
      color: black