.menu

  &__btn
    width: 150px
    height: 40px
    padding: 4px

    font:
      size: 1.5em
    color: $main-white-color
    text:
      align: center

    border: 2px solid $main-white-color
      radius: 8px
    background: transparent
    cursor: pointer

    transition: color 0.2s, background-color 0.2s

    &:hover
      border: 2px solid $main-med-color
      background: $main-med-color

    &--toggled
      background: $main-white-color
      color: $main-dark-color