@import "../../Sass/_variables.sass"

.App-Info
  box-sizing: border-box
  width: 940px
  min-height: 600px
  padding: 20px

  color: $dark-blue

  border: 20px solid $main-blue
  border-radius: 20px
  background:
    color: $main-white

  &__title
    margin-bottom: 1rem

    font:
      size: 2rem
    text-align: center

  &__text
    font:
      size: 1.25rem
    line-height: 1.5rem
    text-indent: 3rem

  &__list
    margin-bottom: 1rem
    padding-left: 20px

    list-style-type: disc

  &__li
    font:
      size: 1.25rem
    line-height: 1.5rem

  &__link
    color: $dark-blue

    &:hover
      color: $accent-blue

  &__btn
    margin: 0 auto
