@import "../_variables.sass"
@import "../_root.sass"

@mixin regular-btn
  font:
    family: "Raleway", Arial, sans-serif
    size: 1.25rem

  border: 3px solid $dark-blue
  border-radius: 5px
  background:
    color: transparent
  cursor: pointer
