@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.todoContainer 
  display: grid
  grid-template-columns: 1fr 2fr
  width: 60%
  min-width: 700px
  max-width: 1000px
  min-height: 400px
  margin: 50px auto

  background-color: $main-blue