@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.searchFilter
  position: relative

  width: 100%
  height: 40px
  margin-bottom: 10px

  &__input
    width: 100%
    height: 40px

  &__reset-btn
    position: absolute
    top: 50%
    right: 15px
    transform: translateY(-50%)
    
    width: 32px
    height: 32px
    padding: 4px

    line-height: 0

    border: 0

  &__reset-btn-svg
    width: 24px
    height: 24px

    pointer-events: none