.intro-carousel {
  padding-left: calc(3.125rem + (100vw - 20rem) / 2);
  overflow-x: hidden;
}

.intro-carousel__inner {
  width: 2000px;
  font-size: 0;
}

.intro-carousel__intro-card {
  margin-right: 1.875rem;
}
