.product {
  padding: 7.5rem 4.6875% 2.5rem;
}

@media (min-width: 768px) {
  .product {
    padding: 7.5rem 4.6875% 2.5rem;
  }
}

@media (min-width: 1366px) {
  .product {
    padding: 9rem 7.174% 2.5rem;
  }
}

@media (min-width: 1630px) {
  .product {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.product__img {
  width: 100%;
  height: auto;
  margin: 0 0 3.125rem;
}

@media (min-width: 768px) {
  .product__img {
    height: 29.375rem;
  }
}

@media (min-width: 1366px) {
  .product__img {
    width: 39.375rem;
    width: 46.07%;
    height: 40.375rem;
  }
}

@media (min-width: 1366px) {
  .product__info {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding-top: 3rem;
    padding-left: 4.375rem;
  }
}

.product__description {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #b3bac1;
}

.product__title {
  margin: 0 0 0.9375rem;
  text-align: left;
}

.product__type {
  margin: 0 0 1.875rem;
  color: #9a9da0;
}

@media (min-width: 1366px) {
  .product__text {
    width: 17rem;
    line-height: 1.45rem;
  }
}

.product__accordion {
  margin: 0 0 2.675rem;
}

.product__panel {
  max-height: 0;
  overflow-y: hidden;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-bottom: 1px solid #b3bac1;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  -webkit-transition: max-height 2s, padding 1s;
  transition: max-height 2s, padding 1s;
}

.product__panel--opened {
  max-height: 100vh;
  padding: 0 0 1.25rem;
}
