@import '../../sass/variables.sass'

.product
  padding: 7.5rem 4.6875% 2.5rem

  @media (min-width: $screen-md)
    padding: 7.5rem 4.6875% 2.5rem

  &__img
    width: 100%
    height: auto
    margin: 0 0 3.125rem

    @media (min-width: $screen-md)
      height: 29.375rem

    @media (min-width: $screen-xxl)
      width: 39.375rem
      width: 46.120vw
      height: 40.375rem

  &__info

    @media (min-width: $screen-xxl)
      display: inline-block
      vertical-align: top
      width: 40%
      padding-top: 3rem
      padding-left: 4.375rem

  &__description
    padding-bottom: 2.5rem
    border-bottom: 1px solid $link-border

  &__title
    margin: 0 0 0.9375rem
    text-align: left

  &__type
    margin: 0 0 1.875rem
    color: $description-color

  &__text

    @media (min-width: $screen-xxl)
      width: 17rem

      line-height: 1.45rem

  &__accordion
    margin: 0 0 2.675rem

  &__panel
    max-height: 0
    overflow-y: hidden

    font:
      size: 0.875rem

    line-height: 1.25rem

    border-bottom: 1px solid $link-border

    transition: max-height 1s
    transition: max-height 2s, padding 1s

    &--opened
      max-height: 100vh
      padding: 0 0 1.25rem

    &:last-of-type
