.sub-carousel {
  position: relative;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-x: hidden;
  font-size: 0;
}

.sub-carousel__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 400%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.sub-carousel__page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
}

@media (min-width: 768px) {
  .sub-carousel__page {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 1.875rem;
    padding: 0 4.6875%;
  }
}

.sub-carousel__card--hidden {
  display: none;
}

@media (min-width: 768px) {
  .sub-carousel__card--hidden {
    display: block;
  }
}
