@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.editForm

  &__fieldset

  &__input
    width: 100%
    height: 36px
    padding: 4px
    margin:
      bottom: 10px

    font:
      family: Raleway
      size: 24px

    border-radius: 12px

  &__textarea
    width: 100%
    min-height: 36px
    margin-bottom: 10px
    resize: vertical

    font:
      family: Raleway
      size: 24px

    border-radius: 12px 12px 0 12px

  &__label
    display: block
    font:
      size: 1.25em