@import '../../sass/variables.sass'

.gallery
  padding-top: 5rem

  background:
    color: $main-bg-color

  @media (min-width: $screen-md)
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row-reverse
    gap: 3rem
    margin: 0 4.6875%

  @media (min-width: $screen-xxl)
    gap: 4.375rem
    margin: 0 7.174%

  @media (min-width: $screen-border)
    @include centered

  &__container
    @media (min-width: $screen-md)
      flex: 1 0 17.25rem

    @media (min-width: $screen-xxl)
      flex: 0 0 23.8rem

  &__title
    margin: 0 auto 1.5625rem

    @media (min-width: $screen-md)
      text:
        align: left

  &__text
    width: 73.5%
    margin: 0 auto 1.875rem

    text:
      align: center

    line:
      height: 1.4rem

    @media (min-width: $screen-md)
      width: 100%
      margin-left: 0

      text:
        align: left

    @media (min-width: $screen-xxl)
      font:
        size: 1.125rem

  &__link
    margin: 0 auto 3.125rem

    @media (min-width: $screen-md)
      margin: 0

  &__imgs-container
    display: flex
    flex:
      wrap: wrap
    justify-content: flex-start
    margin: 0 0.9375rem

    font-size: 0

    @media (min-width: $screen-md)
      margin: 0
      flex: 0 0 22.125rem

    @media (min-width: $screen-xxl)
      flex: 0 0 43.75rem

  &__img-link
    position: relative

    display: inline-block
    width: 50%
    height: auto

    &:hover

      &::after
        position: absolute
        content: ''
        display: block
        height: 100%
        width: 100%
        top: 0
        box-shadow: inset 0 0 8px 0px $main-color

    @media (min-width: $screen-xxl)
      width: 33.333%

    &:nth-child(3n)
      display: none

      @media (min-width: $screen-xxl)
        display: inline-block

  &__img
    width: 100%
    height: auto
