@import '../../sass/variables.sass'

.gallery
  padding-top: 5rem

  background:
    color: $main-bg-color

  @media (min-width: $screen-md)
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row-reverse
    gap: 3rem
    margin: 0 4.6875%

  &__container
    @media (min-width: $screen-md)
      flex: 1 0 276px

  &__title
    margin: 0 auto 1.5625rem

    @media (min-width: $screen-md)
      text:
        align: left

  &__text
    width: 73.5%
    margin: 0 auto 1.875rem

    text:
      align: center

    line:
      height: 1.4rem

    @media (min-width: $screen-md)
      width: 100%
      margin-left: 0

      text:
        align: left

  &__link
    margin: 0 auto 3.125rem

    @media (min-width: $screen-md)
      margin: 0

  &__imgs-container
    display: flex
    flex:
      wrap: wrap
    margin: 0 0.9375rem

    font-size: 0

    @media (min-width: $screen-md)
      max-width: 37.5rem
      margin: 0
      flex: 0 0 22.125rem

  &__img
    width: 50%
    height: auto

    @media (min-width: 1960px)
      width: calc(100% * 0.333333)

    &:nth-child(3n)
      display: none

      @media (min-width: 1960px)
        display: block
