.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 2.875rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 1.625rem;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

@media (min-width: 1366px) {
  .header {
    padding-top: 2.5rem;
  }
}

.header__header-nav {
  margin: 0 0.9375rem;
  margin-left: calc(4.6875% - 0.25rem);
  margin-right: calc(4.6875% - 0.25rem);
}

@media (min-width: 1366px) {
  .header__header-nav {
    margin-left: 7.174%;
    margin-right: calc(7.174% - 0.25rem);
  }
}

.header__divider {
  display: none;
  margin: 0;
}

.header__divider--solid {
  display: block;
}

.header__divider--showed {
  display: block;
}

.header--backgrounded {
  background-color: #f8f8f6;
}

.header--backgrounded-solid {
  background-color: #f8f8f6;
}
