.keyboard
  position: relative
  vertical-align: bottom

  display: inline-block
  width: fit-content

  &__black
    position: absolute

    display: flex
    justify-content: space-evenly
    width: 100%
    margin: auto

  &__white
    display: flex

  &--3
    width: calc(3/7*100%)

  &--4
    right: 0

    width: calc(4/7*100%)

  &--most-left
    right: 0

    width: 85%