.keyboard
  position: relative

  display: inline-block
  width: fit-content
  vertical-align: bottom

  &__black
    position: absolute

    display: flex
    justify-content: space-evenly
    width: 100%
    margin: auto

  &__white
    display: flex