@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.workContainer
  width: 100%
  height: 100%
  padding: 20px
  overflow: hidden

  font: 
    size: 36px
    
  background: 
    color: $main-white

  &__form

  &__fieldset

  &__input
    width: 100%
    margin-bottom: 10px

    font: 
      size: 36px

  &__textarea
    width: 100%
    margin-bottom: 10px

    font: 
      size: 36px

