.offer {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 17rem;
  overflow: hidden;
  background-color: #f8f8f6;
}

@media (min-width: 768px) {
  .offer {
    padding-bottom: 5rem;
  }
}

.offer__container {
  width: 90.625%;
  padding-top: 3.25rem;
  padding-bottom: 6.185rem;
  margin: 0 auto;
  background-color: #f4f1ed;
}

@media (min-width: 768px) {
  .offer__container {
    padding-left: 3.75rem;
    padding-bottom: 3.75rem;
    margin: 0 4.6875%;
  }
}

@media (min-width: 1366px) {
  .offer__container {
    width: 49.048%;
    padding-top: 6.25rem;
    padding-left: 6.25rem;
    padding-bottom: 6.25rem;
    margin-left: 7.174%;
  }
}

.offer__title {
  margin: 0 auto 1.5625rem;
}

@media (min-width: 768px) {
  .offer__title {
    text-align: left;
  }
}

.offer__text {
  width: 77.931%;
  margin: 0 auto 1.875rem;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .offer__text {
    width: calc(12rem + 20vw);
    margin-left: 0;
    text-align: left;
    line-height: 1.45rem;
  }
}

@media (min-width: 1366px) {
  .offer__text {
    width: calc(12rem + 11vw);
  }
}

.offer__text--first {
  display: none;
}

@media (min-width: 768px) {
  .offer__text--last {
    margin-bottom: 2.8125rem;
  }
}

@media (min-width: 768px) {
  .offer__text {
    display: block;
  }
}

.offer__link {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .offer__link {
    margin-left: 0;
  }
}

.offer__img {
  position: absolute;
  top: 30rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 78.125%;
  height: 252px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 335px) {
  .offer__img {
    top: calc(30rem - 10vw);
  }
}

@media (min-width: 768px) {
  .offer__img {
    top: 50%;
    left: 64%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 24.875rem;
    height: 25.1875rem;
  }
}

@media (min-width: 1366px) {
  .offer__img {
    left: unset;
    right: 7.174%;
    width: 49.048%;
    height: 58.724%;
  }
}
