@import '../../sass/variables.sass'

.offer
  position: relative

  padding-top: 5rem
  padding-bottom: 17rem
  overflow: hidden

  background:
    color: $main-bg-color

  @media (min-width: $screen-md)
    padding-bottom: 5rem

  &__container
    width: 90.625%
    padding-top: 3.25rem
    padding-bottom: 6.185rem
    margin: 0 auto

    background:
      color: $offer-color

    @media (min-width: $screen-md)
      padding-left: 3.75rem
      padding-bottom: 3.75rem
      margin: 0 4.6875%

  &__title
    margin: 0 auto 1.5625rem

    @media (min-width: $screen-md)
      text-align: left

  &__text
    width: 77.931%
    margin: 0 auto 1.875rem

    font:
      size: 1.125rem

    text:
      align: center

    line-height: 1.4rem

    @media (min-width: $screen-md)
      width: calc(12rem + 20vw)
      margin-left: 0
      text:
        align: left

      line-height: 1.45rem

    &--first
      display: none

    &--last

      @media (min-width: $screen-md)
        margin-bottom: 2.8125rem

    @media (min-width: $screen-md)
      display: block

  &__link
    margin: 0 auto

    @media (min-width: $screen-md)
      margin-left: 0

  &__img
    position: absolute
    top: 30rem
    left: 50%
    transform: translateX(-50%)

    display: block
    width: 78.125%
    height: 252px
    //margin: -3.75rem auto 0

    object-fit: cover

    @media (min-width: 335px)
      top: calc(30rem - 10vw)

    @media (min-width: $screen-md)
      top: 50%
      left: 64%
      transform: translate(0, -50%)

      width: 24.875rem
      height: 25.1875rem
