@import '../../sass/variables.sass'

.offer
  position: relative

  padding-top: 5rem
  padding-bottom: 17rem

  &__container
    width: 90.625%
    padding-top: 3.25rem
    padding-bottom: 6.185rem
    margin: 0 auto

    background:
      color: $offer-color

  &__title
    margin: 0 auto 1.5625rem

  &__text
    width: 77.931%
    margin: 0 auto 1.875rem

    text:
      align: center

  &__link
    margin: 0 auto

  &__img
    position: absolute
    top: 27.75rem
    left: 50%
    transform: translateX(-50%)

    display: block
    width: 78.125%
    height: 252px
    //margin: -3.75rem auto 0

    object-fit: cover
