.intro-link {
  width: 10.625rem;
}

.intro-link__img-wrapper {
  width: 100%;
}

.intro-link__img {
  width: 100%;
}

.intro-link__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
