@import '../../sass/variables.sass'

.footer
  padding-top: 3.125rem
  padding-bottom: 1.6875rem

  background:
    color: $offer-color

  &__container
    padding-left: 0.9375rem

  &__link
    display: inline-block
    margin: 0 auto 1.875rem

  &__footer-nav
    margin: 0 auto 1.875rem

  &__social
    margin-left: -0.25rem
    margin-bottom: 3.125rem

  &__icon-link
    display: inline-block
    width: fit-content
    padding: 0.25rem
    margin-right: 1.375rem

    text:
      decoration: none

  &__divider
    margin: 0 0 1.6875rem

    border: 1px solid $divider-color

  &__text
    margin: 0 auto 1.375rem

    font:
      size: 0.75rem

    color: $footer-color
    text:
      decoration: none

  &__copyright
    vertical-align: middle
