.key
  display: flex
  flex-direction: column
  justify-content: end
  box-sizing: border-box

  font:
    size: 1rem

  border: 1px solid black

  &--black
    height: 220px
    width: 35px

    color: white

    background: rgb(16, 16, 16)

  &--white
    height: 350px
    width: 50px

    color: black

  &--disabled
    background: lightgrey

  &--empty
    height: 60px
    padding: 0px

    opacity: 0

  &--pressing
    background: grey

  &--hided
    display: none

  &--white-narrow
    width: 1.89vw
    height: 13vw

  &--black-narrow
    width: 1.3vw
    height: 8vw

  &__hint

    &--transparent
      opacity: 0