.key
  display: flex
  flex-direction: column
  justify-content: end
  box-sizing: border-box

  font:
    size: 0.75rem

  border: 1px solid black

  transition: transform 0.05s

  &--white
    z-index: 0

    width: 34.5px
    height: 204px

    color: black

    background: white
    border:
      radius: 0 0 4px 4px

    @media (min-width: $screen-lg)
      width: 46px
      height: 272px

    @media (min-width: $screen-xl)
      width: 57.5px
      height: 340px

    @media (min-width: $screen-xxl)
      width: 69px
      height: 408px

  &--black
    z-index: 1

    width: 19.5px
    height: 155.5px

    color: white

    background: rgb(32, 32, 32)
    border:
      radius: 0 0 4px 4px

    @media (min-width: $screen-lg)
      width: 26px
      height: 194px

    @media (min-width: $screen-xl)
      width: 32.5px
      height: 242.5px

    @media (min-width: $screen-xxl)
      width: 39px
      height: 291px

  &--disabled
    background: lightgrey

  &--empty
    height: 60px
    padding: 0px

    opacity: 0

  &--pressing
    transform: scaleY(1.02) translateY(1%)
    background: grey

  &--hided
    display: none

  &--white-narrow
    width: 1.89vw
    height: 13vw

  &--white-single
    width: 4vw
    height: 23.65vw

  &--white-full
    width: 1.89vw
    height: 13vw

  &--black-narrow
    width: 1.3vw
    height: 8vw

  &--black-single
    width: 2.26vw
    height: 16.87vw

  &--black-full
    width: 1.3vw
    height: 8vw

  &--prev
    background-image: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5))

  &--next
    background-image: linear-gradient(rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0.5))

  &__hint
    text:
      align: center

    user-select: none
    pointer-events: none

    &--transparent
      opacity: 0