.key
  display: flex
  align-items: flex-end
  padding: 50px 40px

  border: 1px solid black

  &--black
    height: 90px
    padding: 50px 20px

    background: lightgrey

  &--white
    height: 210px

  &--empty
    height: 60px
    padding: 0px

    opacity: 0

  &--pressing
    background: grey

  &--hided
    display: none

  &--white-narrow
    width: 1.78vw
    padding: 0

  &--black-narrow
    width: 0.89vw
    padding: 0