.key
  display: flex
  flex-direction: column
  justify-content: end
  box-sizing: border-box

  font:
    size: 0.75rem

  border: 1px solid black

  transition: transform 0.05s

  &--black
    z-index: 1

    height: 291px
    width: 39px

    color: white

    background: rgb(16, 16, 16)
    border:
      radius: 0 0 4px 4px

  &--white
    z-index: 0

    height: 408px
    width: 69px

    color: black

    background: white
    border:
      radius: 0 0 4px 4px

  &--disabled
    background: lightgrey

  &--empty
    height: 60px
    padding: 0px

    opacity: 0

  &--pressing
    transform: scaleY(1.02) translateY(1%)
    background: grey

  &--hided
    display: none

  &--white-narrow
    width: 1.89vw
    height: 13vw

  &--black-narrow
    width: 1.3vw
    height: 8vw

  &--prev
    background: red

  &--next
    background: green

  &__hint
    text:
      align: center

    &--transparent
      opacity: 0