:root {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 850px;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5)), url(/portfolio/piano/src/pics/background.jpg);
  background-size: cover, 579px 344.67px;
  background-repeat: no-repeat, repeat;
}

.control-panel {
  position: absolute;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
  max-height: 965px;
  padding: 6vh 1vw;
  margin: auto 0;
  transition: right 0.5s, bottom 0.5s, transform 0.5s;
}
.control-panel--single-row {
  top: auto;
  right: auto;
  bottom: 2vw;
  margin: 0 auto;
  flex-direction: row;
  width: 90vw;
  max-width: 1300px;
  height: 15vh;
  padding: 0 0vw;
}
.control-panel--hided-right {
  transform: translateX(100%);
}
.control-panel--hided-bottom {
  bottom: -15vh;
}
.control-panel__flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
}
.control-panel__switch-mode-cont {
  display: flex;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  gap: 10px;
  justify-content: space-evenly;
}
.control-panel__switch-mode-cont--note {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control-panel__switch-mode-cont--hided {
  opacity: 0;
}
.control-panel__switch-mode-label {
  display: block;
  align-items: center;
  width: 160px;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.control-panel__switch-mode-label:hover {
  background: grey;
  border: 2px solid grey;
}
.control-panel__note-label {
  font-size: 1.5em;
}
.control-panel__note-input {
  width: 160px;
  height: 40px;
  font-size: 1.5em;
  border-radius: 8px;
}
.control-panel__radio-input {
  display: none;
}
.control-panel__checkbox-input {
  display: none;
}
.control-panel__file-input {
  display: none;
}
.control-panel__btn {
  width: 160px;
  height: 40px;
  padding: 4px;
  font-size: 1.5em;
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}
.control-panel__btn:hover {
  border: 2px solid grey;
  background: grey;
}
.control-panel__btn--toggled {
  background: white;
  color: black;
}

input[type=radio]:checked + .control-panel__switch-mode-label {
  background: white;
  color: black;
  border: 2px solid white;
}

input[type=checkbox]:checked + .control-panel__switch-mode-label {
  background: white;
  color: black;
}

.control-toggle-btn {
  position: absolute;
  z-index: 3;
  top: 4vw;
  right: 4vw;
  display: inline-block;
  width: 4vw;
  height: 4vw;
  transition: transform 0.5s;
}
.control-toggle-btn--rotated {
  transform: rotate(180deg);
}

.keyboard-cont {
  position: relative;
  margin: 0 auto;
  font-size: 0;
}
.keyboard-cont--double-rows {
  width: -moz-fit-content;
  width: fit-content;
  height: 420px;
}
@media (min-width: 992px) {
  .keyboard-cont--double-rows {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .keyboard-cont--double-rows {
    height: 700px;
  }
}
@media (min-width: 1366px) {
  .keyboard-cont--double-rows {
    height: 840px;
  }
}
.keyboard-cont--single-row {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.keyboard-cont--full-kbd {
  display: flex;
}
.keyboard-cont__item {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
.keyboard-cont__item--0 {
  order: 0;
}
.keyboard-cont__item--1 {
  order: 1;
}
.keyboard-cont__item--2 {
  order: 2;
}
.keyboard-cont__item--3 {
  order: 3;
}
.keyboard-cont__item--4 {
  order: 4;
}
.keyboard-cont__item--5 {
  order: 5;
}
.keyboard-cont__item--left-double {
  float: left;
  margin-right: 80px;
}
.keyboard-cont__item--left-single {
  margin-right: 0;
}
.keyboard-cont__item--right-double {
  float: right;
}
.keyboard-cont__item--right-single {
  float: right;
}
.keyboard-cont__item--full-double {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
}
.keyboard-cont__item--full-single {
  margin: 0;
}

.keyboard {
  position: relative;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: bottom;
}
.keyboard__black {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
.keyboard__white {
  display: flex;
}
.keyboard--3 {
  width: 42.8571428571%;
}
.keyboard--4 {
  width: 57.1428571429%;
  right: 0;
}
.keyboard--most-left {
  width: 85%;
  right: 0;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  font-size: 0.75rem;
  border: 1px solid black;
  transition: transform 0.05s;
}
.key--white {
  z-index: 0;
  width: 34.5px;
  height: 204px;
  color: black;
  background: white;
  border-radius: 0 0 4px 4px;
}
@media (min-width: 992px) {
  .key--white {
    width: 46px;
    height: 272px;
  }
}
@media (min-width: 1200px) {
  .key--white {
    width: 57.5px;
    height: 340px;
  }
}
@media (min-width: 1366px) {
  .key--white {
    width: 69px;
    height: 408px;
  }
}
.key--black {
  z-index: 1;
  width: 19.5px;
  height: 155.5px;
  color: white;
  background: rgb(32, 32, 32);
  border-radius: 0 0 4px 4px;
}
@media (min-width: 992px) {
  .key--black {
    width: 26px;
    height: 194px;
  }
}
@media (min-width: 1200px) {
  .key--black {
    width: 32.5px;
    height: 242.5px;
  }
}
@media (min-width: 1366px) {
  .key--black {
    width: 39px;
    height: 291px;
  }
}
.key--disabled {
  background: lightgrey;
}
.key--empty {
  height: 60px;
  padding: 0px;
  opacity: 0;
}
.key--pressing {
  transform: scaleY(1.02) translateY(1%);
  background: grey;
}
.key--hided {
  display: none;
}
.key--white-narrow {
  width: 1.89vw;
  height: 13vw;
}
.key--white-single {
  width: 4vw;
  height: 23.65vw;
}
.key--white-full {
  width: 1.89vw;
  height: 13vw;
}
.key--black-narrow {
  width: 1.3vw;
  height: 8vw;
}
.key--black-single {
  width: 2.26vw;
  height: 16.87vw;
}
.key--black-full {
  width: 1.3vw;
  height: 8vw;
}
.key--prev {
  background-image: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5));
}
.key--next {
  background-image: linear-gradient(rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0.5));
}
.key__hint {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.key__hint--transparent {
  opacity: 0;
}

.menu__btn {
  width: 150px;
  height: 40px;
  padding: 4px;
  font-size: 1.5em;
  color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.menu__btn:hover {
  border: 2px solid grey;
  background: grey;
}
.menu__btn--toggled {
  background: white;
  color: black;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  padding: 12px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(64, 64, 64, 0.75);
  border: 0px solid transparent;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  padding: 20px;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  border-radius: 16px;
  background: white;
}
.modal__content--app {
  width: -moz-fit-content;
  width: fit-content;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 0;
  margin: 0 auto 16px;
}
.modal__title {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  font-size: 1.75em;
}
.modal__carousel-cont {
  width: 100%;
  margin: 0 0 16px;
  overflow: hidden;
}
.modal__carousel-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.4s;
}
.modal__carousel-page {
  padding: 0 4px;
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 4px;
}
.modal__subtitle {
  margin: 0 auto 8px;
}
.modal__text-block {
  margin: 0 auto 16px;
}
.modal__list {
  margin: 0;
  list-style: inside square;
}
.modal__text {
  margin: 0 auto 4px;
}
.modal__text:last-child {
  margin: 0;
}
.modal__btn {
  vertical-align: top;
  width: 160px;
  padding: 4px;
  font-size: 1.5em;
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.modal__btn:hover {
  color: white;
  background: black;
}
.modal__input-radio {
  display: none;
}
.modal__input-checkbox {
  display: none;
}
.modal__input-label {
  display: inline-block;
  align-items: center;
  width: 160px;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.modal__input-label:hover {
  background: grey;
  border: 2px solid grey;
}

.modal__text-block:last-child {
  margin: 0;
}

input[type=radio]:checked + .modal__input-label {
  background: black;
  color: white;
  border: 2px solid black;
}

input[type=checkbox]:checked + .modal__input-label {
  background: black;
  color: white;
  border: 2px solid black;
}