.keyboard-grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.keyboard-grid__item--left {
  margin-right: auto;
}
.keyboard-grid__item--right {
  margin-left: auto;
}
.keyboard-grid__item--full {
  grid-column: 1/3;
  margin: 0 auto;
}

.keyboard {
  position: relative;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: bottom;
}
.keyboard__black {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
.keyboard__white {
  display: flex;
}

.key {
  display: flex;
  align-items: flex-end;
  padding: 50px 40px;
  border: 1px solid black;
}
.key--black {
  height: 90px;
  padding: 50px 20px;
  background: lightgrey;
}
.key--white {
  height: 210px;
}
.key--empty {
  height: 60px;
  padding: 0px;
  opacity: 0;
}
.key--pressing {
  background: grey;
}