* {
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
}

.body {
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 850px;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5)), url(/portfolio/piano/src/pics/background.jpg);
  background-size: cover, 579px 344.67px;
  background-repeat: no-repeat, repeat;
}
.body--content-visible {
  display: flex;
}

.control-panel {
  position: absolute;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
  max-height: 965px;
  padding: 6vh 1vw;
  margin: auto 0;
  background: rgba(0, 0, 0, 0.5);
  transition: right 0.5s, bottom 0.5s, transform 0.5s;
}
@media screen and (min-width: 1200px) {
  .control-panel {
    background: transparent;
  }
}
@media screen and (min-width: 1200px) {
  .control-panel--single-row {
    top: auto;
    right: auto;
    bottom: 2vw;
    margin: 0 auto;
    flex-direction: row;
    width: 90vw;
    max-width: 1300px;
    height: 15vh;
    padding: 0 0vw;
  }
}
.control-panel--hided-right {
  transform: translateX(100%);
}
.control-panel--hided-bottom {
  bottom: 0px;
  transform: translateX(100%);
}
@media screen and (min-width: 1200px) {
  .control-panel--hided-bottom {
    bottom: -15vh;
    transform: translateX(0);
  }
}
.control-panel__flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
}
.control-panel__switch-mode-cont {
  display: flex;
  flex-direction: column;
  width: -moz-min-content;
  width: min-content;
  gap: 10px;
  justify-content: space-evenly;
}
.control-panel__switch-mode-cont--note {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.control-panel__switch-mode-cont--hided {
  opacity: 0;
}
.control-panel__switch-mode-label {
  display: block;
  align-items: center;
  width: 160px;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.control-panel__switch-mode-label:hover {
  background: rgb(128, 128, 128);
  border: 2px solid rgb(128, 128, 128);
}
.control-panel__note-label {
  font-size: 1.5em;
}
.control-panel__note-input {
  width: 160px;
  height: 40px;
  font-size: 1.5em;
  text-align: center;
  border-radius: 8px;
}
.control-panel__note-input::-moz-placeholder {
  text-align: center;
}
.control-panel__note-input::placeholder {
  text-align: center;
}
.control-panel__note-input--incorrect {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5));
}
.control-panel__note-input--correct {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0.5));
}
.control-panel__radio-input {
  display: none;
}
.control-panel__checkbox-input {
  display: none;
}
.control-panel__file-input {
  display: none;
}
.control-panel__btn {
  width: 160px;
  height: 40px;
  padding: 4px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s;
}
.control-panel__btn:hover {
  border: 2px solid rgb(128, 128, 128);
  background: rgb(128, 128, 128);
}
.control-panel__btn--toggled {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

input[type=radio]:checked + .control-panel__switch-mode-label {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  background: rgb(255, 255, 255);
}

input[type=checkbox]:checked + .control-panel__switch-mode-label {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.keyboard-cont {
  position: relative;
  margin: 0 auto;
  font-size: 0;
}
.keyboard-cont--double-rows {
  width: -moz-fit-content;
  width: fit-content;
  height: 420px;
}
@media (min-width: 992px) {
  .keyboard-cont--double-rows {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .keyboard-cont--double-rows {
    height: 700px;
  }
}
@media (min-width: 1366px) {
  .keyboard-cont--double-rows {
    height: 840px;
  }
}
.keyboard-cont--single-row {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.keyboard-cont--full-kbd {
  display: flex;
}
.keyboard-cont__item {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  border-top: 4px solid rgb(144, 13, 9);
}
.keyboard-cont__item--0 {
  order: 0;
}
.keyboard-cont__item--1 {
  order: 1;
}
.keyboard-cont__item--2 {
  order: 2;
}
.keyboard-cont__item--3 {
  order: 3;
}
.keyboard-cont__item--4 {
  order: 4;
}
.keyboard-cont__item--5 {
  order: 5;
}
.keyboard-cont__item--left-double {
  float: left;
  margin-right: 80px;
}
.keyboard-cont__item--left-single {
  margin-right: 0;
}
.keyboard-cont__item--right-double {
  float: right;
}
.keyboard-cont__item--right-single {
  float: right;
}
.keyboard-cont__item--full-double {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: -moz-max-content;
  width: max-content;
  transform: translateX(-50%);
}
.keyboard-cont__item--full-single {
  margin: 0;
}

.keyboard {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
.keyboard__black {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}
.keyboard__white {
  display: flex;
}
.keyboard--3 {
  width: 42.8571428571%;
}
.keyboard--4 {
  right: 0;
  width: 57.1428571429%;
}
.keyboard--most-left {
  right: 0;
  width: 85%;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 8px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 0.75rem;
  border: 1px solid rgb(0, 0, 0);
  transition: transform 0.05s;
}
.key--white {
  width: 34.5px;
  height: 204px;
  color: rgb(0, 0, 0);
  border-radius: 0 0 8px 8px;
  background: rgb(255, 255, 255);
}
@media (min-width: 992px) {
  .key--white {
    width: 46px;
    height: 272px;
  }
}
@media (min-width: 1200px) {
  .key--white {
    width: 57.5px;
    height: 340px;
  }
}
@media (min-width: 1366px) {
  .key--white {
    width: 69px;
    height: 408px;
  }
}
.key--black {
  z-index: 1;
  width: 19.5px;
  height: 155.5px;
  color: rgb(255, 255, 255);
  border-radius: 0 0 4px 4px;
  background: rgb(32, 32, 32);
}
@media (min-width: 992px) {
  .key--black {
    width: 26px;
    height: 194px;
  }
}
@media (min-width: 1200px) {
  .key--black {
    width: 32.5px;
    height: 242.5px;
  }
}
@media (min-width: 1366px) {
  .key--black {
    width: 39px;
    height: 291px;
  }
}
.key--disabled {
  color: rgb(0, 0, 0);
  background: rgb(208, 208, 208);
}
.key--empty {
  height: 60px;
  padding: 0px;
  opacity: 0;
}
.key--pressing {
  background: rgb(128, 128, 128);
  transform: scaleY(1.02) translateY(1%);
}
.key--hided {
  display: none;
}
.key--white-narrow {
  width: 1.89vw;
  height: 13vw;
}
.key--white-single {
  width: 4vw;
  height: 23.65vw;
}
.key--white-full {
  width: 1.89vw;
  height: 13vw;
}
.key--black-narrow {
  width: 1.3vw;
  height: 8vw;
}
.key--black-single {
  width: 2.26vw;
  height: 16.87vw;
}
.key--black-full {
  width: 1.3vw;
  height: 8vw;
}
.key--prev {
  background-image: linear-gradient(rgba(128, 0, 0, 0.5), rgba(128, 0, 0, 0.5));
  cursor: pointer;
}
.key--next {
  background-image: linear-gradient(rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0.5));
  cursor: pointer;
}
.key__hint {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.key__hint--transparent {
  opacity: 0;
}

.menu__btn {
  width: 150px;
  height: 40px;
  padding: 4px;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.menu__btn:hover {
  border: 2px solid rgb(128, 128, 128);
  background: rgb(128, 128, 128);
}
.menu__btn--toggled {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  padding: 12px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  border: 0px solid transparent;
  background: rgba(64, 64, 64, 0.75);
}
.modal--recorder {
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
}
.modal--recorder-single-row {
  top: initial;
  bottom: 0;
  right: auto;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .modal--recorder-single-row {
    top: 0;
    bottom: initial;
    right: 0;
    left: initial;
  }
}
.modal--recorder-double-rows {
  top: initial;
  bottom: 0;
  right: auto;
  left: 0;
}
.modal--metronome {
  z-index: 2;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: transparent;
}
.modal--metronome-single-row {
  top: initial;
  bottom: 0;
  right: auto;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .modal--metronome-single-row {
    top: 64px;
    bottom: initial;
    right: initial;
    left: 0;
  }
}
.modal--metronome-double-rows {
  top: 64px;
  bottom: initial;
  right: auto;
  left: 0;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  padding: 20px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
}
.modal__content--app {
  width: -moz-max-content;
  width: max-content;
}
.modal__content--recorder {
  position: static;
  width: 444px;
  transform: none;
}
.modal__content--metronome {
  position: static;
  width: 220px;
  transform: none;
}
.modal__content--alert {
  width: -moz-fit-content;
  width: fit-content;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 0;
  margin: 0 auto 16px;
}
.modal__title {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  font-size: 1.75em;
}
.modal__carousel-cont {
  width: 100%;
  margin: 0 0 16px;
  overflow: hidden;
}
.modal__carousel-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.4s;
}
.modal__carousel-page {
  padding: 0 4px;
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 4px;
}
.modal__subtitle {
  margin: 0 auto 8px;
}
.modal__text-block {
  margin: 0 auto 16px;
}
.modal__list {
  margin: 0;
  list-style: inside square;
}
.modal__text {
  margin: 0 auto 4px;
}
.modal__text:last-child {
  margin: 0;
}
.modal__counter-cont {
  font-size: 1.5em;
}
.modal__btn {
  vertical-align: top;
  width: 160px;
  padding: 4px;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.modal__btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.modal__btn:disabled {
  color: rgb(0, 0, 0);
  background: rgb(128, 128, 128);
}
.modal__btn--icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.modal__btn--audio {
  background: rgb(255, 255, 255);
}
.modal__icon-svg {
  width: 100%;
  height: 100%;
}
.modal__input-radio {
  display: none;
}
.modal__input-checkbox {
  display: none;
}
.modal__input-label {
  display: inline-block;
  align-items: center;
  width: 160px;
  padding: 4px;
  font-size: 1.5em;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.modal__input-label:hover {
  border: 2px solid rgb(128, 128, 128);
  background: rgb(128, 128, 128);
}
.modal__link {
  color: rgb(0, 0, 0);
}
.modal__link:hover {
  color: rgb(128, 128, 128);
}
.modal__control-block {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}
.modal__audio-cont {
  display: flex;
  justify-content: space-between;
}
.modal__audio {
  display: inline-block;
}
.modal__audio-input-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}
.modal__audio-input-label:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.modal__audio-input-file {
  display: none;
}
.modal__bpm-cont {
  margin-bottom: 0.5rem;
  font-size: 2em;
}

.modal__text-block:last-child {
  margin: 0;
}

input[type=radio]:checked + .modal__input-label {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
}

input[type=checkbox]:checked + .modal__input-label {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
}

input[type=checkbox]:checked:hover + .modal__input-label {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(128, 128, 128);
  background: rgb(128, 128, 128);
}

.modal__audio-input-file:disabled + .modal__btn--audio {
  color: rgb(0, 0, 0);
  background: rgb(128, 128, 128);
}

.audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin-bottom: 8px;
  border-radius: 12px;
  background: rgb(208, 208, 208);
}
.audio__play-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}
.audio__play-btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.audio__del-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}
.audio__del-btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.audio__download-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}
.audio__download-btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.audio__seek-input {
  position: relative;
  -webkit-appearance: none;
  width: 80px;
  background: transparent;
}
.audio__volume-input {
  position: relative;
  -webkit-appearance: none;
  width: 40px;
  background: transparent;
}
.audio__cur-time {
  display: inline-block;
  width: 40px;
  text-align: end;
}
.audio__dur-time {
  display: inline-block;
  width: 40px;
  text-align: start;
}
.audio__volume-level {
  display: inline-block;
  width: 27px;
  text-align: end;
}

.audio__seek-input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: rgb(128, 128, 128);
  cursor: pointer;
}

.audio__seek-input::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: var(--seek-before-width);
  height: 3px;
  border-radius: 1px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.audio__seek-input::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  height: 8px;
  width: 12px;
  margin: -2.5px 0 0 0;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.audio__volume-input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: rgb(128, 128, 128);
  cursor: pointer;
}

.audio__volume-input::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: var(--volume-before-width);
  height: 3px;
  border-radius: 1px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.audio__volume-input::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  height: 8px;
  width: 12px;
  margin: -2.5px 0 0 0;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.audio__seek-input::-moz-range-track {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: rgb(128, 128, 128);
  border: 0;
  cursor: pointer;
}

.audio__seek-input::-moz-range-progress {
  background-color: rgb(0, 0, 0);
}

.audio__seek-input::-moz-focus-outer {
  border: 0;
}

.audio__seek-input::-moz-range-thumb {
  position: relative;
  -webkit-appearance: none;
  height: 8px;
  width: 12px;
  margin: -2.5px 0 0 0;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.audio__seek-input::-moz-focusring {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -1px;
}

.audio__volume-input::-moz-range-track {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: rgb(128, 128, 128);
  border: 0;
  cursor: pointer;
}

.audio__volume-input::-moz-range-progress {
  background-color: rgb(0, 0, 0);
}

.audio__volume-input::-moz-focus-outer {
  border: 0;
}

.audio__volume-input::-moz-range-thumb {
  position: relative;
  -webkit-appearance: none;
  height: 8px;
  width: 12px;
  margin: -2.5px 0 0 0;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.audio__volume-input::-moz-focusring {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: -1px;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  font-size: 8rem;
  font-weight: bold;
  color: rgb(128, 128, 128);
  border: none;
  background: rgb(0, 0, 0);
  transition: opacity 1s;
}
.intro--hided {
  opacity: 0;
  transition: opacity 0s;
}
.intro--fading {
  opacity: 0;
}
.intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}
.intro__text--hided {
  opacity: 0;
  transition: opacity 0s;
}
.intro__text--fading {
  opacity: 0;
}

.hint {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  border: 0px solid transparent;
  background: rgba(64, 64, 64, 0.75);
}
.hint__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  padding: 20px;
  transform: translate(-50%, -50%);
  border: 4px solid rgb(0, 0, 0);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.hint__header {
  display: flex;
  justify-content: space-between;
  padding: 4px 4px 0;
  margin: 0 auto 16px;
}
.hint__title {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  font-size: 1.75em;
}
.hint__list {
  margin: 0;
  list-style: inside square;
}
.hint__text {
  margin: 0 auto 4px;
}
.hint__text:last-child {
  margin: 0;
}
.hint__btn {
  vertical-align: top;
  width: 160px;
  padding: 4px;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}
.hint__btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.hint__btn--icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.hint__icon-svg {
  width: 100%;
  height: 100%;
}