@import './variables.sass'

@font-face
  font-family: "M PLUS 1p"
  font-weight: 400
  src: url(../fonts/MPLUS1p-Regular.ttf)
  display: swap

@font-face
  font-family: "M PLUS 1p"
  font-weight: 500
  src: url(../fonts/MPLUS1p-Medium.ttf)
  display: swap

@font-face
  font-family: "Raleway"
  font-weight: 400
  src: url(../fonts/Raleway-Regular.ttf)
  display: swap

@font-face
  font-family: "Raleway"
  font-weight: 500
  src: url(../fonts/Raleway-Medium.ttf)
  display: swap

html

  &:root
    font:
      family: "M PLUS 1p", Arial, sans-serif
      size: 16px

    color: $main-color

    background:
      color: $main-bg-color

    scroll-behavior: smooth

*
  box-sizing: border-box
