html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "M PLUS 1p";
  font-weight: 400;
  src: url(../fonts/MPLUS1p-Regular.ttf);
}

@font-face {
  font-family: "M PLUS 1p";
  font-weight: 500;
  src: url(../fonts/MPLUS1p-Medium.ttf);
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url(../fonts/Raleway-Medium.ttf);
}

html:root {
  font-family: "M PLUS 1p", Arial, sans-serif;
  font-size: 16px;
  font-smooth: always;
  color: #122947;
  background-color: #f8f8f6;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 2.875rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 1.625rem;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.header__header-nav {
  margin: 0 0.9375rem;
}

.header__divider {
  display: none;
  margin: 0;
}

.header__divider--solid {
  display: block;
}

.header__divider--showed {
  display: block;
}

.header--backgrounded {
  background-color: #f8f8f6;
}

.header--backgrounded-solid {
  background-color: #f8f8f6;
}

.header-nav {
  position: relative;
  padding-bottom: 1.625rem;
}

.header-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-nav__list-item--btn {
  margin-right: auto;
}

.header-nav__list-item--link {
  margin-left: 10px;
}

.header-nav__icon-link {
  display: inline-block;
  padding: 0.25rem;
}

.menu {
  position: relative;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  background-color: #f8f8f6;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.menu__list {
  margin-bottom: 2rem;
}

.menu__link {
  display: block;
  padding: 1.125rem;
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.75rem;
  color: #122947;
  text-decoration: none;
}

.menu__social-wrapper {
  padding-left: 0.9375rem;
  margin-bottom: 3.25rem;
}

.menu__footer {
  height: 4.1875rem;
  background-color: #e5e5e5;
}

.menu--showed {
  max-height: 100vh;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon-link {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  margin-right: 1.375rem;
  text-decoration: none;
}

.logo-sm {
  fill: #122947;
}

.logo-sm--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem;
  background: transparent;
  border: none;
}

.svg-btn {
  stroke: #122947;
}

.svg-link {
  fill: #122947;
}

.logo-lg {
  fill: #122947;
}

.link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1.35rem;
  font-family: "M PLUS 1p";
  font-weight: 500;
  color: #122947;
  text-align: center;
  text-decoration: none;
  border: 1px solid #b3bac1;
  border-radius: 2px;
}

.section-title {
  font-family: Raleway;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.1875rem;
  text-align: center;
}

.section-title--small-font {
  font-size: 1.375rem;
  line-height: 1.71875rem;
}

.section-title--lefted {
  text-align: left;
}

.catalog {
  position: relative;
  z-index: 0;
  padding-top: 6.625rem;
  margin-bottom: 6.25rem;
}

.catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.9375rem 2rem;
}

.catalog__catalog-carousel {
  margin: 0 auto 2.1875rem;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 1.75rem;
  font-family: "M PLUS 1p";
  font-weight: 500;
  color: #122947;
  text-align: center;
  text-decoration: none;
  border: 1px solid #b3bac1;
  border-radius: 2px;
  background: transparent;
}

.btn--small-side-pads {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.filter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 6.625rem;
  z-index: 2;
  max-height: 0;
  overflow-y: hidden;
  width: 100%;
  background-color: #f8f8f6;
  -webkit-transition: max-height 2s;
  transition: max-height 2s;
}

.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.2rem;
  margin: 0.2rem 0.7375rem 2rem;
}

.filter__toggle-btn {
  padding: 0.2rem;
  font-size: 0;
  background: transparent;
}

.filter__content {
  width: calc(100vw - 4.375rem);
  margin: 0 auto;
}

.filter__accordion-btn {
  width: 100%;
  padding: 0.7rem 0;
  font-family: "M Plus 1p";
  font-weight: 500;
  font-size: 1.125rem;
  color: #122947;
  text-align: left;
  background: transparent;
  border: none;
  border-bottom: 1px solid #dbdce0;
}

.filter__accordion-btn:last-of-type {
  border-bottom: none;
}

.filter__accordion-btn::after {
  display: block;
  content: "";
  background-image: url("../blocks/filter/plus.svg");
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 1.65rem;
  float: right;
  margin-left: 5px;
}

.filter__accordion-btn--opened::after {
  display: block;
  content: "";
  background-image: url("../blocks/filter/minus.svg");
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 1.65rem;
  float: right;
  margin-left: 5px;
}

.filter__fieldset {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  -webkit-transition: max-height 2s, padding 1s;
  transition: max-height 2s, padding 1s;
}

.filter__fieldset--opened {
  max-height: 100vh;
  padding: 1.375rem 0 2.5rem;
}

.filter__fieldset:last-of-type {
  padding-bottom: 0;
}

.filter__input-wrapper {
  margin: 0 0 1.375rem;
}

.filter__input-wrapper:last-of-type {
  margin: 0;
}

.filter__label {
  display: block;
}

.filter__label:last-of-type {
  margin: 0;
}

.filter__label::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background: transparent;
  border: 1px solid #cdcdc0;
  border-radius: 50%;
}

.filter__input-checkbox {
  display: none;
}

.filter__input-checkbox:checked + .filter__label::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  background: #122947;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px white;
          box-shadow: inset 0 0 0 1px white;
}

.filter__btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.125rem 0 5.5rem;
}

.filter--showed {
  max-height: 250vh;
}

.catalog-carousel {
  position: relative;
  width: 100%;
  padding-top: 0.5rem;
  overflow-x: hidden;
}

.catalog-carousel__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 400%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.catalog-carousel__page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 1.875rem;
  width: 100%;
  font-size: 0;
}

.catalog-card {
  position: relative;
  display: inline-block;
  -ms-grid-column-align: center;
      justify-self: center;
  width: calc(100vw - 1.875rem);
  height: calc(100vw - 1.875rem);
}

.catalog-card__img {
  width: 100%;
  height: 100%;
}

.catalog-card__description {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  grid-row-gap: 0.25rem;
  width: 86.207%;
  font-size: 16px;
}

.catalog-card__text {
  font-size: 0.8125rem;
  color: #122947;
}

.catalog-card__text--title {
  font-size: 1rem;
}

.catalog-card__text--first-lined {
  font-weight: 500;
}

.catalog-card__text--second-lined {
  color: #9a9da0;
}

.catalog-card__text--righted {
  text-align: right;
}

.carousel-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100vw - 1.375rem);
  padding-left: 0.25rem;
  margin: 0 auto;
  font-size: 0.875rem;
}

.carousel-controls__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
}

.carousel-controls__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.375rem;
}

.carousel-controls__btn {
  padding: 0.25rem;
  font-size: 0;
  border: none;
  background: transparent;
}

.watched__title {
  width: 70%;
  margin: 0 auto 2rem;
}

.watched__sub-carousel {
  margin: 0 auto 2.1875rem;
}

.sub-carousel {
  position: relative;
  width: 100%;
  padding-top: 0.5rem;
  overflow-x: hidden;
  font-size: 0;
}

.sub-carousel__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 400%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.sub-carousel__page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100%;
}

.gallery {
  padding-top: 5rem;
  background-color: #f8f8f6;
}

.gallery__title {
  margin: 0 auto 1.5625rem;
}

.gallery__text {
  width: 73.5%;
  margin: 0 auto 1.875rem;
  text-align: center;
}

.gallery__link {
  margin: 0 auto 3.125rem;
}

.gallery__imgs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0.9375rem;
  font-size: 0;
}

.gallery__img {
  width: 50%;
  height: auto;
}

.contacts {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.contacts__container {
  padding-top: 3.75rem;
  padding-left: 1.875rem;
  padding-bottom: 3.875rem;
  margin: 0 0.9375rem;
  background-color: #f4f1ed;
}

.contacts__title {
  margin-bottom: 2.1875rem;
}

.contacts__sub-title {
  margin-bottom: 0.9375rem;
  font-weight: 500;
}

.contacts__text {
  margin-bottom: 1.875rem;
}

.contacts__social {
  margin-left: -0.25rem;
}

.contacts__map-wrapper {
  position: relative;
  margin: 0 0.9375rem;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 281px;
}

.contacts__map-pointer {
  position: absolute;
  top: 35.587%;
  left: 46.552%;
}

.footer {
  padding-top: 3.125rem;
  padding-bottom: 1.6875rem;
  background-color: #f4f1ed;
}

.footer__container {
  padding-left: 0.9375rem;
}

.footer__link {
  display: inline-block;
  margin: 0 auto 1.875rem;
}

.footer__footer-nav {
  margin: 0 auto 1.875rem;
}

.footer__social {
  margin-left: -0.25rem;
  margin-bottom: 3.125rem;
}

.footer__icon-link {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  margin-right: 1.375rem;
  text-decoration: none;
}

.footer__divider {
  margin: 0 0 1.6875rem;
  border: 1px solid #d1d1d1;
}

.footer__text {
  margin: 0 auto 1.375rem;
  color: #959595;
  text-decoration: none;
}

.footer__copyright {
  vertical-align: middle;
}

.footer-nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 1.5625rem;
  width: 12.5rem;
}

.footer-nav__li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer-nav__link {
  color: #122947;
  text-decoration: none;
}
