html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "M PLUS 1p";
  font-weight: 400;
  src: url(../fonts/MPLUS1p-Regular.ttf);
}

@font-face {
  font-family: "M PLUS 1p";
  font-weight: 500;
  src: url(../fonts/MPLUS1p-Medium.ttf);
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url(../fonts/Raleway-Medium.ttf);
}

html:root {
  font-family: "M PLUS 1p", Arial, sans-serif;
  font-size: 16px;
  color: #122947;
  background-color: #f8f8f6;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 2.875rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 1.625rem;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

@media (min-width: 1366px) {
  .header {
    padding-top: 2.5rem;
  }
}

.header__header-nav {
  margin: 0 0.9375rem;
  margin-left: calc(4.6875% - 0.25rem);
  margin-right: calc(4.6875% - 0.25rem);
}

@media (min-width: 1366px) {
  .header__header-nav {
    margin-left: 7.174%;
    margin-right: calc(7.174% - 0.25rem);
  }
}

.header__divider {
  display: none;
  margin: 0;
}

.header__divider--solid {
  display: block;
}

.header__divider--showed {
  display: block;
}

.header--backgrounded {
  background-color: #f8f8f6;
}

.header--backgrounded-solid {
  background-color: #f8f8f6;
}

.header-nav {
  position: relative;
  padding-bottom: 1.625rem;
}

@media (min-width: 1366px) {
  .header-nav {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1630px) {
  .header-nav {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list--outer {
  width: 100%;
}

.header-nav__list--nested {
  display: none;
}

@media (min-width: 1366px) {
  .header-nav__list--nested {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-nav__list-item--btn {
  margin-right: auto;
}

@media (min-width: 1366px) {
  .header-nav__list-item--btn {
    display: none;
  }
}

@media (min-width: 1366px) {
  .header-nav__list-item--logo {
    margin-right: auto;
  }
}

.header-nav__list-item--link {
  margin-left: 10px;
}

@media (min-width: 1366px) {
  .header-nav__list-item--link {
    margin-left: 1.875rem;
  }
}

.header-nav__link {
  display: inline-block;
  padding: 0.25rem;
  color: #122947;
  text-decoration: none;
}

.header-nav__icon-link {
  display: inline-block;
  padding: 0.25rem;
}

.header-nav__logo-link--smartphone {
  display: block;
}

@media (min-width: 768px) {
  .header-nav__logo-link--smartphone {
    display: none;
  }
}

.header-nav__logo-link--tablet {
  display: none;
}

@media (min-width: 768px) {
  .header-nav__logo-link--tablet {
    display: block;
  }
}

.header-nav__svg {
  width: 0.875rem;
  height: 1rem;
}

@media (min-width: 1366px) {
  .header-nav__svg {
    zoom: 1.2;
  }
}

.menu {
  position: relative;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  background-color: #f8f8f6;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.menu__list {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .menu__list {
    margin-top: 2rem;
  }
}

.menu__link {
  display: block;
  padding: 1.125rem;
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.75rem;
  color: #122947;
  text-decoration: none;
}

@media (min-width: 768px) {
  .menu__link {
    padding-left: 4.6875vw;
  }
}

.menu__social-wrapper {
  padding-left: 0.9375rem;
  margin-bottom: 3.25rem;
}

@media (min-width: 768px) {
  .menu__social-wrapper {
    padding-left: 4.6875%;
  }
}

.menu__footer {
  height: 4.1875rem;
  background-color: #e5e5e5;
}

@media (min-width: 768px) {
  .menu__footer {
    height: 9.375rem;
  }
}

.menu--showed {
  max-height: 100vh;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon-link {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  margin-right: 1.375rem;
  text-decoration: none;
}

.social__icon-link:last-of-type {
  margin-right: 0;
}

.logo-sm {
  fill: #122947;
}

.logo-sm--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo-md {
  fill: #122947;
}

.logo-md--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1366px) {
  .logo-md--centered {
    position: relative;
    top: unset;
    left: unset;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem;
  background: transparent;
  border: none;
}

.svg-btn {
  stroke: #122947;
}

.svg-btn--filter-close {
  width: 1rem;
  height: 1rem;
}

@media (min-width: 768px) {
  .svg-btn--filter-close {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.svg-link {
  fill: #122947;
}

.logo-lg {
  fill: #122947;
}

.intro {
  height: 100vh;
  padding-top: 19.414vh;
  background-image: url(../blocks/intro/hero-m.png);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .intro {
    height: 100vh;
    padding-top: 21.414vh;
    padding-bottom: 17.414vh;
  }
}

@media (min-width: 1366px) {
  .intro {
    padding-top: 20.1538vh;
  }
}

.intro__container {
  width: 100%;
  height: 28.389vh;
  margin: 0 auto 2.1875rem;
}

@media (min-width: 768px) {
  .intro__container {
    position: absolute;
    top: calc(21.414vh + 1.75rem);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1366px) {
  .intro__container {
    top: 29.538vh;
    width: 17.125rem;
  }
}

.intro__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

@media (min-width: 768px) {
  .intro__link-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 4.6875%;
  }
}

@media (min-width: 1366px) {
  .intro__link-container {
    width: 64.375rem;
    height: auto;
    margin: 0 auto;
  }
}

.intro-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 1366px) {
  .intro-title {
    display: block;
    width: 100%;
    margin: 0;
  }
}

.intro-title__logo {
  display: block;
  width: 76%;
  margin: 0 12%;
  height: auto;
}

@media (min-width: 1366px) {
  .intro-title__logo {
    width: 100%;
    margin: 0 0 1.875rem;
  }
}

.intro-title__text {
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 1366px) {
  .intro-title__text {
    font-size: 1.125rem;
    margin: 0 0 2.5rem;
  }
}

.intro-title__link {
  margin: 0 auto;
}

.intro-link {
  width: 10.625rem;
  width: 40.625%;
  max-height: 40vh;
  height: 34.8vh;
  text-decoration: none;
}

@media (min-width: 768px) {
  .intro-link {
    width: 15.375rem;
    height: 21.8125rem;
    max-height: none;
  }
}

@media (min-width: 1366px) {
  .intro-link {
    width: 20.625rem;
    height: 28.75rem;
  }
}

.intro-link__img-wrapper {
  width: 100%;
  height: 85%;
}

@media (min-width: 1366px) {
  .intro-link__img-wrapper {
    height: 26.375rem;
    margin-bottom: 1rem;
  }
}

.intro-link__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-link__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
}

@media (min-width: 1366px) {
  .intro-link__text-wrapper {
    height: auto;
  }
}

.intro-link__text {
  font-size: 0.75rem;
  font-weight: 500;
  color: #122947;
}

@media (min-width: 768px) {
  .intro-link__text {
    font-size: 1rem;
  }
}

.link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1.35rem;
  font-family: "M PLUS 1p";
  font-weight: 500;
  color: #122947;
  text-align: center;
  text-decoration: none;
  border: 1px solid #b3bac1;
  border-radius: 2px;
}

@media (min-width: 1366px) {
  .link {
    padding: 0.75rem 2rem;
  }
}

.section-title {
  font-family: Raleway;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.1875rem;
  text-align: center;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
}

.section-title--small-font {
  font-size: 1.375rem;
  line-height: 1.71875rem;
}

@media (min-width: 768px) {
  .section-title--small-font {
    font-size: 2rem;
  }
}

.section-title--lefted {
  text-align: left;
}

.intro-carousel {
  padding-left: 0;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .intro-carousel {
    padding-left: 0;
  }
}

.intro-carousel__inner {
  width: 2000px;
  font-size: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media (min-width: 768px) {
  .intro-carousel__inner {
    position: relative;
  }
}

.intro-carousel__intro-card {
  margin-right: 1.875rem;
}

.intro-carousel__intro-card:last-of-type {
  margin-right: 0;
}

.intro-card {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 13.75rem;
  height: 18.5625rem;
}

@media (min-width: 768px) {
  .intro-card {
    width: 14.375rem;
  }
}

.intro-card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-card__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 215px;
  font-size: 16px;
  text-align: center;
}

.intro-card__name {
  margin-bottom: 0.3rem;
  font-family: Raleway;
  font-weight: 500;
  color: #122947;
}

.intro-card__type {
  margin-bottom: 0.45rem;
  font-size: 0.8125rem;
  color: #122947;
}

.intro-card__fake-link {
  display: inline-block;
  padding-bottom: 0.375rem;
  font-size: 0.8125rem;
  color: #122947;
  border-bottom: 1px solid #122947;
}

.carousel-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .carousel-controls {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    padding-left: 0;
  }
}

.carousel-controls__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
}

@media (min-width: 768px) {
  .carousel-controls__info {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 1.125rem;
  }
}

.carousel-controls__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.375rem;
}

.carousel-controls__btn {
  padding: 0.25rem;
  font-size: 0;
  border: none;
  background: transparent;
}

.bestsellers {
  position: relative;
  padding-top: 5rem;
}

@media (min-width: 768px) {
  .bestsellers {
    padding-top: 10.5rem;
    padding-left: 2.8125rem;
    padding-bottom: 7.5rem;
    overflow-x: hidden;
  }
}

@media (min-width: 1366px) {
  .bestsellers {
    padding-left: 7.174%;
  }
}

@media (min-width: 1630px) {
  .bestsellers {
    padding-left: calc((100% - 1400px) / 2);
  }
}

.bestsellers__title {
  margin: 0 auto 1.5625rem;
}

@media (min-width: 768px) {
  .bestsellers__title {
    text-align: left;
    margin: 0 auto 1.875rem;
  }
}

.bestsellers__text {
  margin: 0 auto 3.125rem;
  text-align: center;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .bestsellers__text {
    text-align: left;
    margin: 0 auto 2.5rem;
  }
}

.bestsellers__intro-carousel {
  margin-bottom: 2.5rem;
  margin-left: calc(3.125rem + (100vw - 20rem) / 2);
}

@media (min-width: 768px) {
  .bestsellers__intro-carousel {
    position: absolute;
    top: 7.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: calc(3.125rem + (100vw - 25rem) / 2);
  }
}

@media (min-width: 1366px) {
  .bestsellers__intro-carousel {
    margin-left: 40vw;
    margin-left: 33.25rem;
  }
}

.bestsellers__link {
  margin: 0 auto 5rem;
}

@media (min-width: 768px) {
  .bestsellers__link {
    margin: 0 auto 5.0625rem 0;
  }
}

.bestsellers__carousel-controls {
  display: none;
}

@media (min-width: 768px) {
  .bestsellers__carousel-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: calc(4.6875% - 0.25rem);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1366px) {
  .bestsellers__carousel-controls {
    margin-right: 7.174%;
  }
}

.banner {
  position: relative;
  width: 100%;
  padding-top: 18.1875rem;
  padding-bottom: 3.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 768px) {
  .banner {
    height: 27rem;
    padding-top: 6.0625rem;
    padding-left: 51.953%;
  }
}

@media (min-width: 1366px) {
  .banner {
    height: 25rem;
    padding-left: 58.419%;
  }
}

.banner__bg-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
}

.banner__bg-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner__title {
  width: 78%;
  margin: 0 auto 1.25rem;
}

@media (min-width: 768px) {
  .banner__title {
    width: 17.75rem;
    margin-left: 0;
    margin-bottom: 1.625rem;
    text-align: left;
  }
}

.banner__text {
  width: 79.1%;
  margin: 0 auto 1.5rem;
  text-align: center;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .banner__text {
    width: 17.75rem;
    margin-left: 0;
    margin-bottom: 2.25rem;
    font-size: 1.125rem;
    text-align: left;
  }
}

.banner__link {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .banner__link {
    margin-left: 0;
  }
}

.offer {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 17rem;
  overflow: hidden;
  background-color: #f8f8f6;
}

@media (min-width: 768px) {
  .offer {
    padding-bottom: 5rem;
  }
}

@media (min-width: 1630px) {
  .offer {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.offer__container {
  width: 90.625%;
  padding-top: 3.25rem;
  padding-bottom: 6.185rem;
  margin: 0 auto;
  background-color: #f4f1ed;
}

@media (min-width: 768px) {
  .offer__container {
    padding-left: 3.75rem;
    padding-bottom: 3.75rem;
    margin: 0 4.6875%;
  }
}

@media (min-width: 1366px) {
  .offer__container {
    width: 49.048%;
    padding-top: 6.25rem;
    padding-left: 6.25rem;
    padding-bottom: 6.25rem;
    margin-left: 7.174%;
  }
}

@media (min-width: 1630px) {
  .offer__container {
    margin-left: 0;
  }
}

.offer__title {
  margin: 0 auto 1.5625rem;
}

@media (min-width: 768px) {
  .offer__title {
    text-align: left;
  }
}

.offer__text {
  width: 77.931%;
  margin: 0 auto 1.875rem;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .offer__text {
    width: calc(12rem + 20vw);
    margin-left: 0;
    text-align: left;
    line-height: 1.45rem;
  }
}

@media (min-width: 1366px) {
  .offer__text {
    width: calc(12rem + 11vw);
  }
}

.offer__text--first {
  display: none;
}

@media (min-width: 768px) {
  .offer__text--last {
    margin-bottom: 2.8125rem;
  }
}

@media (min-width: 768px) {
  .offer__text {
    display: block;
  }
}

.offer__link {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .offer__link {
    margin-left: 0;
  }
}

.offer__img {
  position: absolute;
  top: 30rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 78.125%;
  height: 252px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 335px) {
  .offer__img {
    top: calc(30rem - 10vw);
  }
}

@media (min-width: 768px) {
  .offer__img {
    top: 50%;
    left: 64%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 24.875rem;
    height: 25.1875rem;
  }
}

@media (min-width: 1366px) {
  .offer__img {
    left: unset;
    right: 7.174%;
    width: 49.048%;
    height: 58.724%;
  }
}

.history {
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

@media (min-width: 768px) {
  .history {
    padding: 6.25rem 0;
  }
}

@media (min-width: 1366px) {
  .history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 27.0625rem;
    padding: 7.25rem 0;
  }
}

.history__bg-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.history__bg-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.history__title {
  width: 78%;
  margin: 0 auto 1.875rem;
}

@media (min-width: 768px) {
  .history__title {
    width: 87%;
    line-height: 2.5rem;
  }
}

@media (min-width: 1366px) {
  .history__title {
    width: 50rem;
  }
}

.history__link {
  margin: 0 auto;
}

.gallery {
  padding-top: 5rem;
  background-color: #f8f8f6;
}

@media (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 3rem;
    margin: 0 4.6875%;
  }
}

@media (min-width: 1366px) {
  .gallery {
    gap: 4.375rem;
    margin: 0 7.174%;
  }
}

@media (min-width: 1630px) {
  .gallery {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .gallery__container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 17.25rem;
            flex: 1 0 17.25rem;
  }
}

@media (min-width: 1366px) {
  .gallery__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23.8rem;
            flex: 0 0 23.8rem;
  }
}

.gallery__title {
  margin: 0 auto 1.5625rem;
}

@media (min-width: 768px) {
  .gallery__title {
    text-align: left;
  }
}

.gallery__text {
  width: 73.5%;
  margin: 0 auto 1.875rem;
  text-align: center;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .gallery__text {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }
}

@media (min-width: 1366px) {
  .gallery__text {
    font-size: 1.125rem;
  }
}

.gallery__link {
  margin: 0 auto 3.125rem;
}

@media (min-width: 768px) {
  .gallery__link {
    margin: 0;
  }
}

.gallery__imgs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0.9375rem;
  font-size: 0;
}

@media (min-width: 768px) {
  .gallery__imgs-container {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.125rem;
            flex: 0 0 22.125rem;
  }
}

@media (min-width: 1366px) {
  .gallery__imgs-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43.75rem;
            flex: 0 0 43.75rem;
  }
}

.gallery__img-link {
  display: inline-block;
  width: 50%;
  height: auto;
}

@media (min-width: 1366px) {
  .gallery__img-link {
    width: 33.333%;
  }
}

.gallery__img-link:nth-child(3n) {
  display: none;
}

@media (min-width: 1366px) {
  .gallery__img-link:nth-child(3n) {
    display: inline-block;
  }
}

.gallery__img {
  width: 100%;
  height: auto;
}

@media (min-width: 1960px) {
  .gallery__img {
    width: calc(100% * 0.333333);
  }
}

@media (min-width: 1960px) and (min-width: 1960px) {
  .gallery__img {
    display: block;
  }
}

.contacts {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 1630px) {
  .contacts {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__container {
  padding-top: 3.75rem;
  padding-left: 1.875rem;
  padding-bottom: 3.875rem;
  margin: 0 0.9375rem;
  background-color: #f4f1ed;
}

@media (min-width: 768px) {
  .contacts__container {
    padding-left: 3.75rem;
    padding-bottom: 3.75rem;
    margin: 0;
    margin-left: 4.6875%;
  }
}

@media (min-width: 1366px) {
  .contacts__container {
    width: 49.048%;
    padding-top: 6.25rem;
    padding-left: 6.25rem;
    padding-bottom: 6.25rem;
    margin-left: 7.174%;
  }
}

@media (min-width: 1630px) {
  .contacts__container {
    margin-left: 0;
  }
}

.contacts__title {
  margin-bottom: 2.1875rem;
}

@media (min-width: 768px) {
  .contacts__title {
    margin-bottom: 2.5rem;
  }
}

.contacts__sub-title {
  margin-bottom: 0.9375rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .contacts__sub-title {
    margin-bottom: 1rem;
    font-size: 1.125rem;
  }
}

.contacts__text {
  margin-bottom: 1.875rem;
  line-height: 1.45rem;
}

@media (min-width: 768px) {
  .contacts__text {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
  }
}

.contacts__social {
  margin-left: -0.25rem;
}

.contacts__map-wrapper {
  position: relative;
  margin: 0 0.9375rem;
}

@media (min-width: 768px) {
  .contacts__map-wrapper {
    position: absolute;
    top: 8.5rem;
    right: 0;
    margin: 0;
  }
}

@media (min-width: 1366px) {
  .contacts__map-wrapper {
    top: 50%;
    left: unset;
    right: 7.174%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 49.048%;
    height: 58.724%;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 17.5625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .contacts__map {
    width: 23.0625rem;
    height: 23.375rem;
  }
}

@media (min-width: 768px) and (min-width: 1366px) {
  .contacts__map {
    width: 100%;
    height: 100%;
  }
}

.contacts__map-pointer {
  position: absolute;
  top: 35.587%;
  left: 46.552%;
}

.footer {
  padding-top: 3.125rem;
  padding-bottom: 1.6875rem;
  background-color: #f4f1ed;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 1.375rem;
  }
}

.footer__container {
  padding-left: 0.9375rem;
  margin: 0 4.6875%;
  margin-left: calc(4.6875% - 0.25rem);
  margin-right: calc(4.6875% - 0.25rem);
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    margin-bottom: 3.125rem;
  }
}

@media (min-width: 1366px) {
  .footer__container {
    margin-left: calc(7.174% - 0.25rem);
    margin-right: calc(7.174% - 0.25rem);
  }
}

@media (min-width: 1630px) {
  .footer__container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .footer__container:first-of-type {
    margin-right: calc(4.6875% - 0.75rem);
  }
}

@media (min-width: 1366px) {
  .footer__container:first-of-type {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: calc(7.174% - 0.75rem);
  }
}

@media (min-width: 1630px) {
  .footer__container:first-of-type {
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .footer__container:last-of-type {
    margin-bottom: 0;
  }
}

.footer__link {
  display: inline-block;
  margin: 0 auto 1.875rem;
}

@media (min-width: 768px) {
  .footer__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.25rem;
    margin: 0;
  }
}

@media (min-width: 1366px) {
  .footer__link {
    margin-right: 4.5rem;
  }
}

@media (min-width: 768px) {
  .footer__logo-svg--sm {
    display: none;
  }
}

.footer__logo-svg--md {
  display: none;
}

@media (min-width: 768px) {
  .footer__logo-svg--md {
    display: block;
  }
}

.footer__footer-nav {
  margin: 0 auto 1.875rem;
}

@media (min-width: 768px) {
  .footer__footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.footer__social {
  margin-right: 0.25rem;
  margin-bottom: 3.125rem;
}

@media (min-width: 768px) {
  .footer__social {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer__icon-link {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem;
  margin-right: 1.375rem;
  text-decoration: none;
}

.footer__divider {
  margin: 0 0 1.6875rem;
  border: 1px solid #d1d1d1;
}

@media (min-width: 768px) {
  .footer__divider {
    margin-bottom: 1.375rem;
  }
}

.footer__text {
  margin: 0 auto 1.375rem;
  font-size: 0.75rem;
  color: #959595;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer__text {
    margin: 0;
  }
}

.footer__copyright {
  vertical-align: middle;
}

@media (min-width: 1366px) {
  .footer-nav {
    margin-right: auto;
  }
}

.footer-nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 1.5625rem;
  width: 12.5rem;
}

@media (min-width: 768px) {
  .footer-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 21.1875rem;
  }
}

.footer-nav__li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (min-width: 768px) {
  .footer-nav__li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.footer-nav__link {
  color: #122947;
  text-decoration: none;
}
