.intro
  height: 100vh
  background:
    image: url(../blocks/intro/hero.png)
    size: cover

.intro__container
  width: 100%
  height: 28.389vh
  padding-top: 19.414vh
  //margin: 0 auto

.intro__link-container
  display: flex
  justify-content: space-around
  margin: 0
