.intro {
  height: 100vh;
  padding-top: 19.414vh;
  background-image: url(../blocks/intro/hero-m.png);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .intro {
    height: 100vh;
    padding-top: 21.414vh;
    padding-bottom: 17.414vh;
  }
}

.intro__container {
  width: 100%;
  height: 28.389vh;
  margin: 0 auto 2.1875rem;
}

@media (min-width: 768px) {
  .intro__container {
    position: absolute;
    top: calc(21.414vh + 1.75rem);
  }
}

.intro__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

@media (min-width: 768px) {
  .intro__link-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 4.6875%;
  }
}
