@import '../../sass/variables.sass'

.catalog-carousel
  position: relative

  width: 100%
  padding-top: 0.5rem
  overflow-x: hidden

  &__inner
    display: grid
    grid-template-columns: repeat(4, 1fr)
    width: 400%

    transition: transform 1s

    //scroll-snap-type: x mandatory

  &__page
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(12, 1fr)
    grid-row-gap: 1.875rem
    padding-bottom: 0.5rem
    width: 100%
    //width: 320px

    font:
      size: 0

    //scroll-snap-align: start

    @media (min-width: $screen-md)
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(6, 1fr)
      column-gap: 1.875rem
      padding-left: 4.6875%
      padding-right: 4.6875%

    @media (min-width: $screen-xxl)
      grid-template-columns: repeat(4, 1fr)
      grid-template-rows: repeat(3, 1fr)
      padding-left: 7.174%
      padding-right: 7.174%
