.catalog-carousel {
  position: relative;
  width: 100%;
  padding-top: 0.5rem;
  overflow-x: hidden;
}

.catalog-carousel__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 400%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.catalog-carousel__page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 1.875rem;
  width: 100%;
  font-size: 0;
}

@media (min-width: 768px) {
  .catalog-carousel__page {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -webkit-column-gap: 1.875rem;
            column-gap: 1.875rem;
    padding: 0 4.6875%;
  }
}
