@import '../../sass/variables.sass'

.catalog-carousel
  position: relative

  width: 100%
  padding-top: 0.5rem
  overflow-x: hidden

  &__inner
    width: 400%

  &__page
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 1.875rem
    width: 25%

    font:
      size: 0
