@import "../../Sass/_variables.sass"
@import "../../Sass/_root.sass"

.FilmInfo
  box-sizing: border-box

  width: 500px
  min-height: none
  padding: 20px

  border: 20px solid $main-blue
  border-radius: 20px
  background:
    color: $main-white

  @media screen and (min-width: $screen-xl)
    width: 940px
    min-height: 600px

  

  &__main-container
    box-sizing: border-box
    display: grid
    flex-direction: column
    justify-content: space-between
    width: 100%
    height: 100%

    background:
      //color: rgba(255, 255, 0, 0.1)

    @media screen and (min-width: $screen-xl)
      grid-template-columns: 40% 50%
      grid-template-rows: auto auto 8fr 1fr

  &__poster-container
    grid-row-start: 4
    grid-row-end: 5

    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    min-height: 100%

    background:
      //color: rgba(255, 165, 0, 0.1)

    @media screen and (min-width: $screen-xl)
      width: 100%

      grid-row-start: 1
      grid-row-end: 5

  &__poster-wrapper
    display: none
    width: 344px
    height: 516px

    background:
      //color: rgba(144, 238, 144, 0.1)

    @media screen and (min-width: $screen-xl)
      display: block

  &__poster-sub
    position: relative

    display: flex
    justify-content: space-between
    width: 100%
    height: 40px

    font:
      family: Rubik

    background:
      //color: rgba(144, 238, 144, 0.1)

  &__poster-pos
    font:
      size: 32px

  &__poster-rating
    position: absolute
    left: 50%
    transform: translateX(-50%)

    display: flex
    align-items: center

    font:
      size: 32px

  &__poster-number
    display: inline-block
    height: 40px

    font:
      size: 32px
    line-height: 40px

  &__poster-rating-icon
    //vertical-align: middle

  &__poster-year
    font:
      size: 32px

  &__poster-img
    width: 100%
    height: 100%

  &__description-container
    display: flex
    flex-direction: column
    justify-content: flex-start
    width: 50%
    min-height: 100%

    background:
      //color: rgba(255, 165, 0, 0.1)

    @media screen and (min-width: $screen-xl)
      width: 100%

  &__description-slogan
    margin-bottom: 12px

    font:
      size: 18px
      style: italic

    text-align: center

    @media screen and (min-width: $screen-xl)
      grid-column-start: 2

  &__description-title
    margin-bottom: 12px

    font:
      size: 24px
      weight: 500

    text-align: center

    @media screen and (min-width: $screen-xl)
      grid-column-start: 2

  &__description-text
    font:
      size: 18px
    text:
      indent: 32px

    line-height: 120%
    //text-align: justify

    @media screen and (min-width: $screen-xl)
      grid-column-start: 2

  &__description-nav
    display: flex
    justify-content: space-between
    margin-top: auto

    @media screen and (min-width: $screen-xl)
      grid-column-start: 2

  &__description-link
    display: inline-flex
    align-items: center
    height: 36px

    color: $dark-blue
    font:
      size: 1.25rem

    border: 3px solid transparent

    transition: border 0.2s

    &:hover
      //border-top: 3px solid $dark-blue
      //border-bottom: 3px solid $dark-blue
      color: $accent-blue

  &__description-btn

  &--no-visible
    visibility: hidden