.body
  display: flex
  justify-content: center
  align-items: center
  min-width: 850px
  min-height: 100vh
  margin: 0
  overflow: hidden

  color: white

  background: 
    image: linear-gradient(rgba(0, 0, 0, 0.5), transparent, rgba(0, 0, 0, 0.5)), url(/portfolio/piano/src/pics/background.jpg)
    size: cover, 579px 344.67px
    repeat: no-repeat, repeat