.Card
  display: inline-flex
  justify-content: center
  align-items: center
  width: 150px
  height: 225px
  overflow: hidden

  font-family: Arial, Helvetica, sans-serif
  font-size: 24px

  background-color: #43de67
  border-radius: 10px
  cursor: pointer

  @media screen and (min-width: 768px )
    width: 250px
    height: 375px

  &__bg-img
    width: 100%
    height: 100%

  &__title
    display: none
    font-size: 10px
