.control-toggle-btn
  position: absolute
  z-index: 3
  top: 4vw
  right: 4vw

  display: inline-block
  width: 4vw
  height: 4vw

  transition: transform 0.5s

  &--rotated
    transform: rotate(180deg)