.logo-md {
  fill: #122947;
}

.logo-md:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.logo-md--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1366px) {
  .logo-md--centered {
    position: relative;
    top: unset;
    left: unset;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
