.catalog {
  position: relative;
  z-index: 0;
  padding-top: 6.625rem;
  margin-bottom: 6.25rem;
}

.catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.9375rem 2rem;
}

@media (min-width: 768px) {
  .catalog__header {
    margin: 0 4.6875% 2rem;
  }
}

.catalog__catalog-carousel {
  margin: 0 auto 2.1875rem;
}
