@import '../../sass/variables.sass'

.catalog
  position: relative
  z-index: 0

  padding-top: 6.625rem
  margin-bottom: 6.25rem

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0 0.9375rem 2rem

  &__catalog-carousel
    margin: 0 auto 2.1875rem
