.catalog {
  position: relative;
  z-index: 0;
  padding-top: 6.625rem;
  margin-bottom: 6.25rem;
}

@media (min-width: 1366px) {
  .catalog {
    padding-top: 8.625rem;
    margin-bottom: 8.25rem;
  }
}

.catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4.6875vw 2rem;
}

@media (min-width: 768px) {
  .catalog__header {
    margin: 0 4.6875% 2rem;
  }
}

@media (min-width: 1366px) {
  .catalog__header {
    margin: 0 7.174% 2rem;
  }
}

.catalog__catalog-carousel {
  margin: 0 auto 2.1875rem;
}

.catalog__carousel-controls {
  margin-right: calc(4.6875% - 0.25rem);
  margin-left: calc(4.6875% - 0.25rem);
}

@media (min-width: 1366px) {
  .catalog__carousel-controls {
    margin-right: calc(7.164% - 0.25rem);
    margin-left: calc(7.174% - 0.25rem);
  }
}
