@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}

:root {
  box-sizing: border-box;
  --btn-color: #cc8b86;
  --btn-hover-color: #fff;
  --text-color-1: #533738;
  --text-color-2: #fff;
  --svg-arrow-color: #f5f2ed;
  --svg-arrow-color-hover: #cc8b86;
  --bg-color-1: #f9eae1;
  --bg-color-2: #e5e5e5;
  --bg-color-3: #8d7370;
  --bg-color-4: #efe6e4;
  --bg-color-5: #e2c4ba;
  --bg-color-6: #f5f2ed;
  --border-input-color: #fff;
  --overlay-color: rgba(100, 72, 69, 0.8);
  --modal-container-color: rgba(83, 55, 56, 0.6);

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--text-color-1);

  scroll-behavior: smooth;
}

@media screen and (max-width: 1249px) and (orientation: portrait) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) and (orientation: portrait) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 1250px) and (orientation: landscape) {
  :root {
    font-size: 18px;
  }
}

@media screen and (max-width: 1249px) and (orientation: landscape) {
  :root {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  :root {
    font-size: 12px;
  }
}

.header {
  position: fixed;
  z-index: 1;

  width: 100%;
  height: fit-content;

  transition: background-color 0.2s;
  -webkit-transform: translateZ(0);
}

.header_backgrounded {
  background-color: var(--bg-color-4);
  border-bottom: 5px solid var(--bg-color-3);
}

.header-fake {
  position: absolute;
  top: 0;
  left: 0;

  height: fit-content;

  visibility: hidden;
  border-bottom: 5px solid transparent;
}

.nav-fake {
  position: relative;

  height: fit-content;
  padding: 1.556rem 0;

  font-size: 0.889rem;
  color: transparent;
}

@media screen and (max-width: 900px) {
  .nav-fake {
    font-size: 1.2rem;
  }
}

.nav {
  max-width: 1200px;
  max-width: 1230px;
  height: fit-content;
  padding: 2rem 0;
  margin: 0 auto;

  transition: padding 0.2s;
  -webkit-transform: translateZ(0);
}

.nav_small-height {
  padding: 1rem 0;
}

.nav_vertical-showed {
  padding-bottom: 0;
}

.nav-horizontal {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-horizontal__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;

  overflow: hidden;
}

.nav-horizontal__item {
  float: left;
}

.nav-horizontal__item:first-child {
  padding-left: 1rem;
}

.nav-horizontal__item:last-of-type {
  display: none;
}

@media screen and (max-width: 899px) {
  .nav-horizontal__item {
    display: none;
  }

  .nav-horizontal__item:first-of-type {
    display: list-item;
  }

  .nav-horizontal__item:last-of-type {
    display: list-item;
  }
}

.nav-horizontal__link {
  position: relative;

  display: block;
  padding: 0.5rem;

  font-size: 0.889rem;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-1);
  text-align: center;

  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .nav-horizontal__link {
    font-size: 1.2rem;
  }
}

.nav-horizontal__link:hover {
  text-decoration: underline;
}

.nav-horizontal__menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--text-color-1);

  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.nav-horizontal__menu-btn:hover {
  border: 2px solid var(--text-color-1);
}

.nav__link-img {
  position: absolute;
  top: 0.2rem;
  left: -0.7rem;

  width: auto;
  height: 1.389rem;

  vertical-align: middle;
}

.nav-vertical {
  max-height: 0;
  overflow: hidden;

  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}

.nav-vertical_showed {
  max-height: 500px;
}

@media screen and (min-width: 900px) {
  .nav-vertical {
    max-height: 0;
  }
}

.nav-vertical__link {
  display: block;
  padding: 0.5rem;
  padding-left: 1.667rem;

  font-size: 1.2rem;
  color: var(--text-color-1);
  text-decoration: none;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-vertical__link:hover {
  padding-left: 2rem;

  color: var(--text-color-2);

  background-color: var(--bg-color-3);
}

.intro {
  height: 100vh;
}

.intro__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;

  object-fit: cover;
  background-color: var(--bg-color-1);
}

.intro__background-color {
  position: absolute;
  top: 0;
  left: 0;
  /*z-index: 2;*/

  width: 100%;
  height: 100vh;
  opacity: 1;

  background-color: var(--bg-color-1);
  transition: opacity 1s;
  transition-delay: 0.25s;
}

.intro__background-color_hidden {
  opacity: 0;
}

.intro__background-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;

  object-fit: cover;
  /*background-color: var(--bg-color-1);*/

  transition: all 1s;
}

.intro__width-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  max-width: 1036px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1249px) {
  .intro__width-container {
    margin: 0 6rem;
  }
}

@media screen and (max-width: 768px) {
  .intro__width-container {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 540px) {
  .intro__width-container {
    margin: 0 2rem;
  }
}

.intro__container {
  position: relative;

  width: 29.667rem;
  width: 28rem;
  /*padding-left: 10.222rem;*/
}

@media screen and (max-width: 768px) {
  .intro__container {
    display: grid;
    grid-template-rows: 37% 53% 8%;
    row-gap: 1%;

    width: 100%;
    height: 70vh;
  }
}

.intro__title {
  margin-bottom: 1.333rem;

  font-size: 2.778rem;
  font-weight: 400;
  font-style: normal;

  line-height: 3.444rem;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin-bottom: 0;

    font-size: 3.5rem;

    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .intro__title {
    font-size: 2rem;
  }
}

.intro__text {
  width: 23rem;
  margin-bottom: 1.167rem;

  font-size: 1rem;
  font-weight: 400;
  font-style: normal;

  line-height: 1.667rem;
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 60%;

    font-size: 1.5rem;
  }
}

@media screen and (max-width: 540px) {
  .intro__text {
    font-size: 1.2rem;
  }
}

.intro__link {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 17.167rem;
  height: 4.111rem;

  font-size: 1.111rem;
  color: var(--text-color-1);
  font-weight: 500;
  font-style: normal;
  text-align: center;

  background-color: var(--btn-color);
  border: 5px solid transparent;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .intro__link {
    width: 20rem;
    height: 4.5rem;
    margin: 0 auto;

    font-size: 1.5rem;
  }
}

.intro__link:hover {
  color: var(--btn-color);

  background-color: var(--btn-hover-color);
  border: 5px solid var(--btn-color);
}

.title {
  font-size: 2.222rem;
  line-height: 2.778rem;
  text-align: center;

  text-transform: uppercase;
}

/*about section*/

.about {
  background-color: var(--bg-color-4);
}

.about__title {
  padding-top: 3.611rem;
  margin-bottom: 2.222rem;
}

.about__width-container {
  max-width: 1036px;
  margin: 0 auto 1.667rem;
}

@media screen and (max-width: 1249px) {
  .about__width-container {
    margin: 0 6rem 1.667rem;
  }
}

@media screen and (max-width: 768px) {
  .about__width-container {
    margin: 0 4rem 1.667rem;
  }
}

@media screen and (max-width: 540px) {
  .about__width-container {
    margin: 0 2rem 1.667rem;
  }
}

.about__container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .about__container {
    flex-direction: column;
    gap: 1rem;
  }
}

.about__img {
  width: 42.9%;
  height: auto;
  max-height: 30rem;

  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .about__img {
    width: 100%;
  }
}

.about__text-wrapper {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .about__text-wrapper {
    width: 100%;
  }
}

.about__text {
  margin-bottom: 2rem;

  font-size: 1rem;
  font-weight: 400;
  font-style: normal;

  line-height: 1.667rem;
}

.about__text:last-child {
  margin-bottom: 0;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 15.167rem;

  background-color: var(--bg-color-3);
}

.banner__achievements {
  font-size: 1.667rem;
  font-weight: 500;
  color: var(--text-color-2);

  text-transform: uppercase;
}

@media screen and (max-width: 540px) {
  .banner__achievements {
    font-size: 1.2rem;
  }
}

.banner__number {
  display: block;
  margin-bottom: 0.444rem;

  font-size: 2.778rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;

  line-height: 3.444rem;
}

@media screen and (max-width: 540px) {
  .banner__number {
    font-size: 2rem;
  }
}

/*works section*/

.works {
  background-color: var(--bg-color-4);
  padding-bottom: 3.611rem;
}

.works__width-container {
  max-width: 1200px;
  margin: 0 auto;
}

.works__title {
  padding-top: 3.611rem;
  margin-bottom: 2.222rem;

  text-align: left;
}

.works__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  margin-bottom: 2.222rem;
}

@media screen and (max-width: 1249px) {
  .works__width-container {
    margin: 0 6rem;
  }
}

@media screen and (max-width: 768px) {
  .works__width-container {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 540px) {
  .works__width-container {
    margin: 0 2rem;
  }
}

.works__img-wrapper {
  position: relative;

  height: 25.056rem;
}

.works__img {
  width: 100%;
  height: 25.056rem;

  object-fit: cover;
  cursor: pointer;
}

.works__img-wrapper-small {
  width: 40.667%;
}

@media screen and (max-width: 1249px) {
  .works__img-wrapper-small {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .works__img-wrapper-small {
    width: 100%;
  }
}

.works__img-wrapper-big {
  width: 57.667%;
}

@media screen and (max-width: 1249px) {
  .works__img-wrapper-big {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .works__img-wrapper-big {
    width: 100%;
  }
}

.works__img-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;

  color: var(--text-color-2);

  opacity: 0;
  background-color: var(--overlay-color);
  cursor: pointer;

  transition: opacity 0.5s;
}

.works__img-overlay_visible {
  opacity: 1;
}

.works__img-overlay-title {
  width: 55.328%;

  font-size: 1.667rem;
  font-weight: 500;
  text-align: center;
}

.works__img-overlay-text {
  /*width: 85.656%;*/
  width: 85%;

  font-size: 1rem;
  font-weight: 400;
  font-style: normal;

  line-height: 1.667rem;
}

.works__link {
  display: block;
  width: fit-content;
  padding-bottom: 2px;
  margin: 0 auto;

  font-size: 1.667rem;
  color: var(--text-color-1);

  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.works__link:hover {
  border-bottom: 2px solid var(--text-color-1);
}

/*team section*/

.team {
  background-color: var(--bg-color-5);
}

.team__title {
  padding-top: 2.778rem;
  margin-bottom: 2.778rem;
}

.team__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*width: 90%;*/
  max-width: 1036px;
  margin: 0 auto;
}

@media screen and (max-width: 1249px) {
  .team__container {
    margin: 0 6rem;
  }
}

@media screen and (max-width: 768px) {
  .team__container {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 540px) {
  .team__container {
    margin: 0 2rem;
  }
}

.card {
  width: 30.888%;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 3rem;
  }
}

.card__img {
  width: 100%;
  height: 14.056rem;
  min-height: 14.056rem;
  margin-bottom: 0.556rem;

  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card__img {
    height: 20rem;
  }
}

.card__text {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;

  line-height: 1.667rem;
}

/*algorhytm section*/

.algorhytm {
  padding-bottom: 4.444rem;

  background-color: var(--bg-color-5);
}

.algorhytm__title {
  padding-top: 2rem;

  margin-bottom: 2.222rem;
}

.algorhytm__container {
  max-width: 1200px;
  margin: 0 auto;
}

.algorhytm__list {
  display: flex;
  justify-content: space-between;
  row-gap: 2rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 1249px) {
  .algorhytm__list {
    width: 80%;
    margin: 0 auto;
  }
}

.algorhytm__step {
  width: 15.833rem;
}

@media screen and (max-width: 1249px) {
  .algorhytm__step {
    width: 49%;
  }
}

@media screen and (max-width: 540px) {
  .algorhytm__step {
    width: 100%;
  }
}

.algorhytm__step-number {
  width: 3.889rem;
  height: 3.889rem;
  margin: 0 auto 1.111rem;

  font-size: 1.667rem;
  font-weight: 500;
  color: var(--text-color-2);
  text-align: center;
  line-height: 3.889rem;

  background-color: var(--bg-color-3);
  border-radius: 50%;
}

.algorhytm__step-text {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.667rem;
  text-align: center;
}

.algorhytm__step-text_first {
  width: 85%;
  margin: 0 auto;
}

/*reviews section*/

.reviews {
  background-color: var(--bg-color-4);

  padding-bottom: 3.611rem;
}

.reviews__title {
  padding-top: 3.611rem;

  margin-bottom: 3.611rem;
}

.reviews__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1036px;
  margin: 0 auto;
}

@media screen and (max-width: 1249px) {
  .reviews__container {
    gap: 1rem;
    margin: 0 6rem;
  }
}

@media screen and (max-width: 768px) {
  .reviews__container {
    margin: 0 4rem;
  }
}

@media screen and (max-width: 540px) {
  .reviews__container {
    margin: 0 2rem;
  }
}

.reviews__arrow {
  display: inline-block;

  min-width: 3.889rem;
  height: 3.889rem;
  padding: 0;

  font-size: 0;

  background-color: var(--btn-color);
  border: 5px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .reviews__arrow {
    align-self: flex-start;
    margin-top: 19rem;
  }
}

.reviews__arrow:hover {
  background-color: var(--btn-hover-color);
  border: 5px solid var(--btn-color);
}

.reviews__arrow-svg {
  fill: var(--svg-arrow-color);
}

.reviews__arrow-svg_hover {
  fill: var(--svg-arrow-color-hover);
}

.review {
  display: flex;
  justify-content: space-between;
  max-width: 46.333rem;
  min-height: 31.444rem;

  opacity: 1;

  transition: opacity 0.5s;
}

@media screen and (max-width: 768px) {
  .review {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

.review_non-visible {
  visibility: hidden;
}

.review_visible {
  opacity: 1;
}

.review_hidden {
  opacity: 0;
}

.review__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  width: 48.8%;
}

@media screen and (max-width: 768px) {
  .review__text-wrapper {
    width: 100%;
  }
}

.review__text {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.667rem;
}

@media screen and (max-width: 768px) {
  .review__text {
    text-align: center;
  }
}

.review__text-author {
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .review__text-author {
    text-align: center;
  }
}

.review__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  width: 48.8%;

  font-size: 0;
}

@media screen and (max-width: 768px) {
  .review__img-wrapper {
    width: 100%;
    gap: 0.5rem;
  }
}

.review__img {
  width: 100%;
  /*height: 48%;
  max-height: 15.056rem;*/
  height: max(48%, 15.056rem);
  /*height: 15.056rem;*/

  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .review__img {
    max-height: 10rem;
  }
}

/*application section*/

.application {
  background-color: var(--bg-color-3);
}

.application__container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 1117px;
  margin: 0 auto;
}

@media screen and (max-width: 1249px) {
  .application__container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 540px) {
  .application__container {
    flex-direction: column;
  }
}

.application__text-container {
  width: 47.18%;
  margin-bottom: 2.778rem;
}

@media screen and (max-width: 540px) {
  .application__text-container {
    width: 90%;
  }
}

.application__text-wrapper {
  width: 90%;
}

@media screen and (max-width: 540px) {
  .application__text-wrapper {
    width: 100%;
  }
}

.application__title {
  padding-top: 2.778rem;
  margin-bottom: 1.333rem;

  color: var(--text-color-2);
  text-align: left;
}

.application__text {
  margin-bottom: 2.444rem;

  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color-2);
  font-style: normal;
  line-height: 1.667rem;

  opacity: 0.6;
}

.application__map-container {
  width: 52.82%;
  padding-top: 2.778rem;
  margin-bottom: 2.778rem;
}

@media screen and (max-width: 540px) {
  .application__map-container {
    width: 90%;
  }
}

.application__map {
  align-self: center;
  width: 90%;
  height: 100%;
  /*height: 34.667rem;*/

  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .application__map {
    width: 100%;
  }
}

.form {
  width: 100%;
}

.form__input {
  box-sizing: border-box;

  width: 100%;
  padding: 0.5rem 0.2rem;
  margin-bottom: 1.944rem;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--text-color-2);

  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--border-input-color);
}

.form__input:focus {
  color: var(--text-color-1);

  background-color: var(--bg-color-4);

  outline: none;
  border: 1px solid var(--border-input-color);
}

.form__input::placeholder {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--text-color-2);
}

.form__input:focus::placeholder {
  color: var(--text-color-1);
}

.form__submit {
  display: inline-block;
  width: 17.167rem;
  height: 4.111rem;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.111rem;
  color: var(--text-color-1);
  font-weight: 500;
  font-style: normal;
  text-align: center;

  background-color: var(--btn-color);
  border: 5px solid transparent;
  text-decoration: none;
  cursor: pointer;
}

.form__submit:hover {
  color: var(--btn-color);

  background-color: var(--btn-hover-color);
  border: 5px solid var(--btn-color);
}

/*footer section*/

.footer {
  background-color: var(--bg-color-4);
}

.footer__info {
  max-width: 1200px;
  padding: 1.667rem 6rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer__info {
    padding: 1.667rem 4rem;
  }
}

@media screen and (max-width: 540px) {
  .footer__info {
    padding: 1.667rem 2rem;
  }
}

.footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer__item {
  text-align: center;
}

.footer__item:first-of-type {
  margin-right: 2.333rem;
}

.footer__item:last-of-type {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .footer__item {
    margin: 0;
  }

  .footer__item:first-of-type {
    margin: 0;
  }

  .footer__item:last-of-type {
    margin: 0;
  }
}

.footer__link {
  color: var(--text-color-1);

  text-decoration: none;
  text-align: center;
}

.footer__link:hover {
  text-decoration: underline;
}

/*modal*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--modal-container-color);
  cursor: pointer;
}

.modal__img {
  display: inline-block;
  max-width: 60%;
  max-height: 60%;
  padding: 1.5rem;

  object-fit: cover;
  background-color: var(--bg-color-2);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .modal__img {
    max-width: 80%;
    max-height: 80%;
  }
}
