@import '../../sass/variables.sass'

.link
  display: block
  width: fit-content
  //min-width: 132px
  //height: 40px
  padding: 0.75rem 1.35rem

  font:
    family: "M PLUS 1p"
    weight: 500

  color: $main-color

  text:
    align: center
    decoration: none

  border: 1px solid $link-border
    radius: 2px

  transition: background 0.25s

  &:hover
    background:
      color: $sub-bg-color

  @media (min-width: $screen-xxl)
    padding: 0.75rem 2rem
