@import '../../sass/variables.sass'

.link
  display: inline-block
  width: fit-content
  //min-width: 132px
  //height: 40px
  padding: 0.813rem 1.75rem 1rem

  font:
    family: "M PLUS 1p"
    weight: 500

  color: $main-color

  text:
    align: center
    decoration: none

  border: 1px solid $link-border
    radius: 2px
