@import '../../sass/variables.sass'

.contacts
  position: relative

  padding-top: 5rem
  padding-bottom: 5rem

  &__container
    padding-top: 3.75rem
    padding-left: 1.875rem
    padding-bottom: 3.875rem
    margin: 0 0.9375rem

    background:
      color: $offer-color

    @media (min-width: $screen-md)
      padding-left: 3.75rem
      padding-bottom: 3.75rem
      margin: 0
      margin-left: 4.6875%

    @media (min-width: $screen-xxl)
      width: 49.048%
      padding-top: 6.25rem
      padding-left: 6.25rem
      padding-bottom: 6.25rem
      margin-left: 7.174%

  &__title
    margin-bottom: 2.1875rem

    @media (min-width: $screen-md)
      margin-bottom: 2.5rem

  &__sub-title
    margin-bottom: 0.9375rem

    font:
      weight: 500

    @media (min-width: $screen-md)
      margin-bottom: 1rem

      font:
        size: 1.125rem

  &__text
    margin-bottom: 1.875rem
    line-height: 1.45rem

    @media (min-width: $screen-md)
      margin-bottom: 1.5rem
      font:
        size: 1.125rem

  &__social
    margin-left: -0.25rem

  &__map-wrapper
    position: relative
    margin: 0 0.9375rem

    @media (min-width: $screen-md)
      position: absolute
      top: 8.5rem
      right: 0

      margin: 0

    @media (min-width: $screen-xxl)
      top: 50%
      left: unset
      right: 7.174%
      transform: translateY(-50%)
      width: 49.048%
      height: 58.724%

  &__map
    display: block
    width: 100%
    height: 17.5625rem
    object-fit: cover

    @media (min-width: $screen-md)
      width: 23.0625rem
      height: 23.375rem

      @media (min-width: $screen-xxl)
        width: 100%
        height: 100%

  &__map-pointer
    position: absolute
    top: 35.587%
    left: 46.552%
