@import '../../sass/variables.sass'

.social
  display: flex
  justify-content: flex-start
  align-items: center

  &__icon-link
    display: inline-block
    width: fit-content
    padding: 0.25rem
    margin-right: 1.375rem

    text:
      decoration: none

    &:last-of-type
      margin-right: 0

    &:hover
      transform: scale(1.5, 1.5)
