.bestsellers {
  padding-top: 5rem;
}

.bestsellers__title {
  margin: 0 auto 1.5625rem;
}

.bestsellers__text {
  margin: 0 auto 3.125rem;
  text-align: center;
  line-height: 1.4rem;
}

.bestsellers__intro-carousel {
  margin-bottom: 2.5rem;
}

.bestsellers__link {
  margin: 0 auto 5rem;
}
