.bestsellers__title {
  padding-top: 5rem;
  margin-bottom: 1.5625rem;
}

.bestsellers__text {
  margin-bottom: 3.125rem;
  text-align: center;
  line-height: 1.4rem;
}

.bestsellers__intro-carousel {
  padding-left: calc(3.125rem + (100vw - 20rem) / 2);
  margin-bottom: 2.5rem;
}

.bestsellers__link {
  margin: auto;
}
