.header-nav {
  position: relative;
  padding-bottom: 1.625rem;
}

@media (min-width: 1366px) {
  .header-nav {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1630px) {
  .header-nav {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list--outer {
  width: 100%;
}

.header-nav__list--nested {
  display: none;
}

@media (min-width: 1366px) {
  .header-nav__list--nested {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-nav__list-item--btn {
  margin-right: auto;
}

@media (min-width: 1366px) {
  .header-nav__list-item--btn {
    display: none;
  }
}

@media (min-width: 1366px) {
  .header-nav__list-item--logo {
    margin-right: auto;
  }
}

.header-nav__list-item--link {
  margin-left: 10px;
}

@media (min-width: 1366px) {
  .header-nav__list-item--link {
    margin-left: 1.875rem;
  }
}

.header-nav__link {
  display: inline-block;
  padding: 0.25rem;
  color: #122947;
  text-decoration: none;
}

.header-nav__icon-link {
  display: inline-block;
  padding: 0.25rem;
}

.header-nav__logo-link--smartphone {
  display: block;
}

@media (min-width: 768px) {
  .header-nav__logo-link--smartphone {
    display: none;
  }
}

.header-nav__logo-link--tablet {
  display: none;
}

@media (min-width: 768px) {
  .header-nav__logo-link--tablet {
    display: block;
  }
}

.header-nav__svg {
  width: 0.875rem;
  height: 1rem;
}

@media (min-width: 1366px) {
  .header-nav__svg {
    zoom: 1.2;
  }
}
