.header-nav {
  position: relative;
  padding-bottom: 1.625rem;
}

.header-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header-nav__list-item--btn {
  margin-right: auto;
}

.header-nav__list-item--link {
  margin-left: 10px;
}

.header-nav__icon-link {
  display: inline-block;
  padding: 0.25rem;
}
