@import '../../sass/variables.sass'

.header-nav
  position: relative

  //height: 1rem

  //padding-top: 30px

  padding-bottom: 1.625rem

  &__list
    position: relative

    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

  &__list-item

    &--btn
      margin-right: auto

    &--logo

    &--link
      margin-left: 10px

  &__icon-link
    display: inline-block
    padding: 0.25rem

  &__menu-btn

  &__logo-link

    &--smartphone
      display: block

      @media (min-width: $screen-md)
        display: none

    &--tablet
      display: none

      @media (min-width: $screen-md)
        display: block
