@import '../../sass/variables.sass'

.header-nav
  position: relative

  padding-bottom: 1.625rem

  @media (min-width: $screen-xxl)
    padding-bottom: 2.5rem

  @media (min-width: $screen-border)
    max-width: $max-width
    margin-left: auto
    margin-right: auto

  &__list
    position: relative

    display: flex
    justify-content: space-between
    align-items: center

    &--outer
      width: 100%

    &--nested
      display: none

      @media (min-width: $screen-xxl)
        display: flex

  &__list-item

    &--btn
      margin-right: auto

      @media (min-width: $screen-xxl)
        display: none

    &--logo

      @media (min-width: $screen-xxl)
        margin-right: auto

    &--link
      margin-left: 10px

      @media (min-width: $screen-xxl)
        margin-left: 1.875rem

  &__link
    display: inline-block
    padding: 0.25rem

    color: $main-color

    text:
      decoration: none

  &__icon-link
    display: inline-block
    padding: 0.25rem

  &__menu-btn

  &__logo-link

    &--smartphone
      display: block

      @media (min-width: $screen-md)
        display: none

    &--tablet
      display: none

      @media (min-width: $screen-md)
        display: block

  &__svg
    width: 0.875rem
    height: 1rem

    @media (min-width: $screen-xxl)
      zoom: 1.2
