@import "../../Sass/_reset.sass"
@import "../../Sass/_root.sass"
@import "../../Sass/_variables.sass"

.editContainer
  width: 100%
  height: 100%
  padding: 20px

  background: 
    color: green

  &__form

  &__fieldset

  &__input
    width: 100%
    margin-bottom: 10px

  &__textarea
    width: 100%
    margin-bottom: 10px

