@import '../../sass/variables.sass'

.footer-nav

  &__list
    display: grid
    grid-template:
      columns: 1fr 1fr
    row-gap: 1.5625rem
    width: 12.5rem

  &__li
    flex:
      basis: 50%

  &__link
    color: $main-color

    text:
      decoration: none
