@import '../../sass/variables.sass'

.footer-nav

  &__list
    display: grid
    grid-template:
      columns: 1fr 1fr
    row-gap: 1.5625rem
    width: 12.5rem

    @media (min-width: $screen-md)
      display: flex
      justify-content: space-between
      width: 21.1875rem

  &__li
    flex:
      basis: 50%

    @media (min-width: $screen-md)
      flex:
        basis: auto

  &__link
    color: $main-color

    text:
      decoration: none
