:root {
  box-sizing: border-box;

  --bg-color: #ffffff;
  --bg-color-20: #b9b9b9;
  --btn-hover: #eeeeee;
  --title-color: #ffffff;
  --section-title-color: #ffffff;
  --project--bg-color: #ffffff;

  --grid-item-size: 90px;
  --section-width: 70%;

  --small-text: 1rem;
  --medium-text: 1.5rem;
  --big-text: 2rem;

  /*--header-color: #ff9500;*/
  --grey-color: #a1a1a1;
  --theme-color: #ff7f50;
  --theme-color: #00bfff;
  --orange-color: #ff7f50;
  --cyan-color: #00c5bb;
  --cyan-color: #00bfff;
  --green-color: #54d100;
  --purple-color: #9700c5;
  --nav-link-text: #000000;
  --nav-link-text-hover: #ffffff;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  margin-bottom: 3rem;
  padding: 0 5%;

  background-color: var(--theme-color);
  box-shadow: 10px 0px 10px 0px grey, -10px 0px 10px 0px grey;
}

.header__title {
  margin-right: auto;

  font-size: 2rem;
}

.header__info-btn {
  width: fit-content;

  font-size: 1.5rem;
  font-style: italic;
  color: #000000;
  text-decoration: none;
}

.nav__link {
  font-size: 1.5rem;
  font-style: italic;
  color: #000000;
  text-decoration: none;
}

.nav__link_home {
  margin-left: 4rem;
}

.nav__link:hover {
  text-decoration: underline;
}

.main {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main {
    width: 90%;
  }
}

.containers-wrapper__date-container {
  margin-bottom: 3rem;
}

.date-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 5rem;
  padding: 1rem;

  font-size: 2rem;

  border: 10px solid var(--grey-color);
  border-radius: 25px;
  box-shadow: rgb(176, 176, 176) 5px 5px 5px 0px;
}

.date-container_orange {
  border: 10px solid var(--orange-color);
}

.date-container_cyan {
  border: 10px solid var(--cyan-color);
}

.date-container_green {
  border: 10px solid var(--green-color);
}

.date-container_purple {
  border: 10px solid var(--purple-color);
}

.date-alert {
  height: 3rem;
}

.date-alert__text {
  font-size: 2rem;
}

.date-container__day-month {
  width: 10rem;
}

.add-form__submit-btn {
  border-radius: 50%;
}

.date-container__del-btn {
  margin-left: auto;

  border-radius: 50%;
}

.date-container__add-btn {
  border-radius: 50%;
}

.add-form {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;

  font-size: 0;
}

.add-form__input_number {
  width: 3rem;
}

.add-form__input_text {
  width: 70%;
}

.add-form__submit-btn {
  margin-left: auto;
}

.btn {
  display: inline-block;
  min-width: 2.5rem;
  min-height: 2.5rem;

  cursor: pointer;
}

.btn-interactive {
  padding: 0;
  font-size: 0;
}

.btn__plus-svg {
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 768px) {
  .btn {
    min-width: 3rem;
    min-height: 3rem;
  }
}

.btn:hover {
  transform: scale(1.2, 1.2);
}

.aside {
  position: absolute;
  bottom: 0;
  right: 0;
}

.buttons-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;

  width: 5rem;
  height: auto;
  padding: 1rem;

  background-color: pink;
}

.filter-container {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 12rem;

  background-color: var(--theme-color);
}

.filter-container_hidden {
  display: none;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
