:root {
  box-sizing: border-box;

  --bg-color: #ffffff;
  --bg-color-20: #b9b9b9;
  --btn-hover: #eeeeee;
  --title-color: #ffffff;
  --section-title-color: #ffffff;
  --project--bg-color: #ffffff;

  --grid-item-size: 90px;
  --section-width: 70%;

  --small-text: 1rem;
  --medium-text: 1.5rem;
  --big-text: 2rem;

  /*--header-color: #ff9500;*/
  --main-blue: #236a8a;
  --dark-blue: #1a1a47;
  --accent-blue: #005cff;
  --main-white: #ffffff;
  --text-color: #1a1a47;
  --subtext-color: #ffffff;

  --grey-color: #a1a1a1;
  --theme-color: #1a1a47;
  --orange-color: #ff7f50;
  --cyan-color: #00bfff;
  --green-color: #54d100;
  --purple-color: #9700c5;
  --nav-link-text: #000000;
  --nav-link-text-hover: #ffffff;


  /*overflow-x: hidden;*/

  font-size: 16px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Regular.ttf);
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin-bottom: 3rem;
  padding: 0 5%;

  background-color: var(--main-blue);
  box-shadow: 10px 0 10px 0 grey, -10px 0 10px 0 grey;
}

.header__title {
  font-size: 2rem;
  color: var(--subtext-color);
}

@media screen and (max-width: 420px) {
  .header__title {
    font-size: 1rem;
  }
}

.nav__ul {
  display: flex;
  align-items: center;
}

.nav__item {
  float: left;
}

.nav__btn {
  display: inline-block;
  height: 3rem;

  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: var(--subtext-color);
  text-decoration: none;

  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;

  transition: 0.25s border;
}

@media screen and (max-width: 420px) {
  .nav__btn {
    height: 2rem;

    font-size: 1rem;
  }
}

.nav__btn:hover {
  border-top: 1px solid var(--subtext-color);
  border-bottom: 1px solid var(--subtext-color);
}

.nav__link {
  display: inline-flex;
  align-items: center;
  height: 3rem;
  margin-left: 1rem;

  font-size: 1.25rem;
  color: var(--subtext-color);

  border: 1px solid transparent;

  transition: 0.25s border;
}

@media screen and (max-width: 420px) {
  .nav__link {
    height: 2rem;
    font-size: 1rem;
  }
}

.nav__link:hover {
  border-top: 1px solid var(--subtext-color);
  border-bottom: 1px solid var(--subtext-color);
}

.main {
  width: 50%;
  padding-top: 6rem;
  padding-bottom: 5rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .main {
    width: 90%;
  }
}

.containers-wrapper__date-container {
  margin-bottom: 3rem;
}

.date-container {
  display: grid;
  grid-template-columns: 8rem auto 1fr;
  column-gap: 5px;

  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 5rem;
  padding: 1rem;

  font-family: Rubik;
  color: var(--dark-blue);
  font-size: 2rem;

  border: 10px solid var(--grey-color);
  border-radius: 25px;
  box-shadow: rgb(176, 176, 176) 5px 5px 5px 0px;
}

.date-container_edit {
  grid-template-columns: 1fr;
}

.date-container_orange {
  border: 10px solid var(--orange-color);
}

.date-container_cyan {
  border: 10px solid var(--cyan-color);
}

.date-container_green {
  border: 10px solid var(--green-color);
}

.date-container_purple {
  border: 10px solid var(--purple-color);
}

.date-alert {
  height: 3rem;
}

.date-alert__text {
  font-family: Rubik;
  color: var(--dark-blue);
  font-size: 2rem;
}

.date-container__day-month {
  width: 10rem;
}

.date-container__text {
  overflow-wrap: anywhere;
}

.add-form__submit-btn {
  border-radius: 50%;
}

.date-container__del-btn {
  margin-left: auto;

  border: 3px solid grey;
  border-radius: 50%;
}

.date-container__add-btn {
  border: 3px solid grey;
  border-radius: 50%;
}

.add-form {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;

  font-size: 0;
}

.add-form__input_number {
  width: 3rem;
}

.add-form__input_text {
  width: 70%;
}

.add-form__submit-btn {
  margin-left: auto;
}

.btn {
  display: inline-block;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;

  cursor: pointer;

  transition: transform 0.1s;
}

@media screen and (max-width: 768px) {
  .btn {
    min-width: 3rem;
    min-height: 3rem;
  }
}

.btn-interactive {
  padding: 0;

  font-size: 0;

  background-color: transparent;
}

.btn__plus-svg {
  width: 1.5rem;
  height: 1.5rem;
}

.btn__svg {
  width: 70%;
  height: 70%;

  fill: white;
}

.btn__svg-load {
  width: 80%;
  height: 80%;

  fill: white;
}

.btn__svg-load-inner {
  fill: none;
}

.btn:hover {
  transform: scale(1.2, 1.2);
}

.aside {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 15rem;
  height: 25rem;

  overflow: hidden;
}

.buttons-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  width: 14rem;
  height: auto;
  padding: 1.5rem;

  background-color: var(--main-blue);
  border-radius: 1rem 0 0 0;
}

.buttons-bar__btn {
  border: 2px solid white;
  border-radius: 20%;
}

.buttons-bar__label-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;

  font-size: 0;

  border: 2px solid white;
  border-radius: 20%;
  cursor: pointer;

  transition: transform 0.1s;
}

@media screen and (max-width: 768px) {
  .buttons-bar__label-input {
    min-width: 3rem;
    min-height: 3rem;
  }
}

.buttons-bar__input-file {
  display: none;
}

.buttons-bar__label-input:hover {
  transform: scale(1.2, 1.2);
}

.filter-wrapper {
  overflow: hidden;
}

.filter-container {
  position: absolute;
  bottom: 0;
  right: 0;

  display: grid;
  grid-template-rows: 2rem 5rem auto;
  width: 14rem;
  height: 20rem;
  padding: 1.5rem;
  overflow: hidden;

  color: var(--main-white);

  background-color: var(--main-blue);
  border-radius: 1rem 0 0 0;
  box-shadow: 0 0 10px 0 grey;

  transition: transform 0.5s;
}

@media screen and (max-width: 768px) {
  .filter-container {
    height: 24rem;
  }
}

.filter-container_hidden {
  transform: translateY(14.5rem);
}

@media screen and (max-width: 768px) {
  .filter-container_hidden {
    height: 18.5rem;
  }
}

.filter-container__main-label {
  font-size: 1.2rem;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5rem 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.filter__select {
  width: 100%;
}
