@import '../../sass/variables.sass'

.banner
  padding-top: 291px
  padding-bottom: 3.75rem

  background:
    image: url(../blocks/banner/bg.png)
    size: 100% auto

  &__title
    margin: 0 auto 1.25rem

  &__text
    margin: 0 auto 1.875rem

    text:
      align: center

  &__link
    margin: 0 auto
