.banner {
  position: relative;
  width: 100vw;
  padding-top: 18.1875rem;
  padding-bottom: 3.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 768px) {
  .banner {
    padding-top: 6.0625rem;
    padding-left: 51.953%;
    height: 27rem;
  }
}

.banner__bg-img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
}

.banner__bg-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.banner__title {
  width: 78%;
  margin: 0 auto 1.25rem;
}

@media (min-width: 768px) {
  .banner__title {
    width: 17.75rem;
    margin-left: 0;
    margin-bottom: 1.625rem;
    text-align: left;
  }
}

.banner__text {
  width: 79.1%;
  margin: 0 auto 1.5rem;
  text-align: center;
  line-height: 1.4rem;
}

@media (min-width: 768px) {
  .banner__text {
    width: 17.75rem;
    margin-left: 0;
    margin-bottom: 2.25rem;
    text-align: left;
  }
}

.banner__link {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .banner__link {
    margin-left: 0;
  }
}
