@import '../../sass/variables.sass'

.banner
  padding-top: 291px
  padding-bottom: 3.75rem

  background:
    image: url(../blocks/banner/bg.png)
    size: 100% auto

  &__title
    width: 76%
    margin: 0 auto 1.25rem

  &__text
    width: 79.1%
    margin: 0 auto 1.875rem

    text:
      align: center
    line-height: 1.4rem

  &__link
    margin: 0 auto
