@import '../../sass/variables.sass'

.menu
  position: relative
  z-index: 1

  max-height: 0

  overflow: hidden

  background:
    color: $main-bg-color

  transition: max-height 1s

  &__container
    //padding-left: 0.9375rem

  &__list
    margin-bottom: 2rem

    @media (min-width: $screen-md)
      margin-top: 2rem

  &__link
    display: block
    padding: 1.125rem

    font:
      family: Raleway
      weight: 500
      size: 1.75rem

    color: $main-color

    text:
      decoration: none

    transition: padding-left 0.5s

    &:hover
      padding-left: 2.5rem

    @media (min-width: $screen-md)
      padding-left: 4.6875vw

      &:hover
        padding-left: 9.375vw

  &__social-wrapper
    padding-left: 0.9375rem
    margin-bottom: 3.25rem

    @media (min-width: $screen-md)
      padding-left: 4.6875%

  &__footer
    height: 4.1875rem

    background:
      color: $sub-bg-color

    @media (min-width: $screen-md)
      height: 9.375rem

  &--showed
    max-height: 100vh
