.menu {
  position: relative;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  background-color: #f8f8f6;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.menu__container {
  padding-left: 0.9375rem;
}

.menu__list {
  margin-bottom: 2rem;
}

.menu__link {
  display: block;
  padding: 1.125rem;
  padding-left: 0;
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.75rem;
  color: #122947;
  text-decoration: none;
}

.menu__social {
  margin-bottom: 3.25rem;
}

.menu__footer {
  height: 4.1875rem;
  background-color: #e5e5e5;
}

.menu--showed {
  max-height: 100vh;
}
