.menu {
  position: relative;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  background-color: #f8f8f6;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.menu__list {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .menu__list {
    margin-top: 2rem;
  }
}

.menu__link {
  display: block;
  padding: 1.125rem;
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.75rem;
  color: #122947;
  text-decoration: none;
  -webkit-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}

.menu__link:hover {
  padding-left: 2.5rem;
}

@media (min-width: 768px) {
  .menu__link {
    padding-left: 4.6875vw;
  }
  .menu__link:hover {
    padding-left: 9.375vw;
  }
}

.menu__social-wrapper {
  padding-left: 0.9375rem;
  margin-bottom: 3.25rem;
}

@media (min-width: 768px) {
  .menu__social-wrapper {
    padding-left: 4.6875%;
  }
}

.menu__footer {
  height: 4.1875rem;
  background-color: #e5e5e5;
}

@media (min-width: 768px) {
  .menu__footer {
    height: 9.375rem;
  }
}

.menu--showed {
  max-height: 100vh;
}
