@import '../../sass/variables.sass'

.also
  padding: 2.5rem 0 5rem

  @media (min-width: $screen-border)
    @include centered

  &__title
    margin: 0 0 2.5rem

  &__sub-carousel
    margin: 0 auto 1.6875rem

  &__carousel-controls
    margin-left: 4.6875%
    margin-right: 4.6875%

    @media (min-width: $screen-xxl)
      margin-right: calc(7.174% - 0.25rem)
      margin-left: calc(7.174% - 0.25rem)
