.also {
  padding: 2.5rem 0 5rem;
}

.also__title {
  margin: 0 0 2.5rem;
}

.also__sub-carousel {
  margin: 0 auto 1.6875rem;
}

.also__carousel-controls {
  margin-right: 4.6875vw;
}

@media (min-width: 1366px) {
  .also__carousel-controls {
    margin-right: calc(7.174% - 0.25rem);
    margin-left: calc(7.174% - 0.25rem);
  }
}
