@import '../../sass/variables.sass'

.carousel-controls
  position: relative

  display: flex
  justify-content: space-between
  align-items: center
  //width: calc(100vw - 1.375rem)
  //padding-left: 0.25rem
  margin: 0 auto

  @media (min-width: $screen-md)
    justify-content: flex-end
    width: auto
    padding-left: 0

  font:
    size: 0.875rem

  &__info
    display: flex
    justify-content: space-between
    align-items: center
    width: 4rem

    @media (min-width: $screen-md)
      position: absolute
      left: 50%
      transform: translateX(-50%)

      font:
        size: 1.125rem

  &__arrows
    display: flex
    justify-content: space-between
    align-items: center
    width: 5.375rem

  &__btn
    padding: 0.25rem

    font:
      size: 0

    border: none
    background: transparent
