@import '../../sass/variables.sass'

.carousel-controls
  display: flex
  justify-content: space-between
  align-items: center
  width: calc(100vw - 1.375rem)
  padding-left: 0.25rem
  margin: 0 auto

  @media (min-width: $screen-md)
    width: auto
    padding-left: 0
    margin-left: 4.6875%
    margin-right: calc(4.6875% - 0.25rem)

  font:
    size: 0.875rem

  &__info
    display: flex
    justify-content: space-between
    align-items: center
    width: 4rem

  &__arrows
    display: flex
    justify-content: space-between
    align-items: center
    width: 5.375rem

  &__btn
    padding: 0.25rem

    font:
      size: 0

    border: none
    background: transparent
